



/* Menu DIV */
.widget-suggestlineedit-menu {
	color: black;
	background-color: white;
	border: 1px solid #aaa;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0px 4px 10px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, .5);
	z-index: 10000 !important;
}
/* unordered list for suggestions */
.widget-suggestlineedit-menu ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
/* SPAN "link" */
.widget-suggestlineedit-menu .widget-suggestlineedit-link {
  cursor: hand; cursor: pointer;
  display: block;
  font-size:12px;
  line-height:15px;
  font-weight:normal;
  padding:.3em .2em;
}

/* warning for no results */
.widget-suggestlineedit-menu .widget-suggestlineedit-warning {
  font-style: italic;
}
/* loading for AJAX get */
.widget-suggestlineedit-menu .widget-suggestlineedit-loading {
  font-style: italic;
  text-decoration: blink;
}
/* matched sub-string */
.widget-suggestlineedit-menu em {
    text-decoration: underline;
}
/* suggestion info */
.widget-suggestlineedit-menu .widget-suggestlineedit-info {
    font-style: italic;
    font-size: .75em;
    opacity: 0.75;
}



