
.orgchartcontainer {
	padding: 0;
}

.orgchart table {
	font-size: 1em;
}

.orgchart td {
	font-size: 1em;
}

div.entity .members {
	text-align: left;
	margin-top: 0.4em;
	padding: 0.5em 0.1em 0.1em 1em;
	font-weight: normal;
	background: #FFFFFF;
	background: rgba(255,255,255,0.5);
	color: #000000;
}

div.entity .members .member_role {
	font-weight: bold;
}

div.entity .members .member {
	display: list-item;
	list-style: none;
	margin-left: 1em;
	color: #000000;
}
div.entity .members a.member:hover {
	text-decoration: underline;
}



.orgchart {
	background-color: transparent;
}

@media print {
	.orgchart {
		background-color: #FFFFFF !important;
	}
}


.orgchart table.horizontal {
	border-collapse: collapse;
	margin: 0 auto;
}

.orgchart table.horizontal table.horizontal {
	width: 100%;
}

.orgchart td.subtree {
	vertical-align: top;
	text-align: center;
	padding: 0px;
}

.orgchart div.entity {
	position: relative;
	background-color: #AACCEE;
	margin: 0 auto;
	color: white;
	padding: 0.5em;
	border-radius: 8px;
}

.orgchart div.entity .bab-menu-button img {
	border-radius: 8px;
}


.orgchart div.entity:hover {
	border-color: orange;
	cursor: pointer;
}

.orgchart div.entity img.treeview-icon {
	width: 5em;
	margin: 0 0.3em 0 0;
	border: 1px solid black;
	background-color: #FFFFFF;
	padding: 1px;
}


.orgchart div.entity a {
	text-decoration: none;
}

.entity-move{
	border: 5px solid orange !important;
}

.level1 div.entity {
	margin: 0 auto;
	width: 18em;
	background-image: none;
	background-color: #86bf98;
	border: 3px solid #000000;
}
.level1 div.entity a {
	color: #000;
}
option.level1 {
	font-weight: bold;
	border-left: 32px solid #86bf98;
	text-align: right;
	margin-bottom: 1px;
}

.level2 div.entity {
	width: 17em;
	background-image: none;
	background-color: #86adbf;
	border: 3px solid #000000;
}
.level2 div.entity a {
	color: #000;
}

option.level2 {
	font-weight: bold;
	border-left: 32px solid #86adbf;
	text-align: right;
	margin-bottom: 1px;
}




.level3 div.entity {
	width: 16em;
	background-image: none;
	background-color: #bf86ad;
	border: 3px solid #000000;
	color: black;
}
.level3 div.entity a {
	color: #000;
}
option.level3 {
	font-weight: bold;
	border-left: 32px solid #bf86ad;
	text-align: right;
	margin-bottom: 1px;
}

.level4 div.entity {
	width: 15em;
	background-image: none;
	background-color: #bf9886;
	border: 3px solid #000000;
	color: black;
}
.level4 div.entity a {
	color: #000;
}
option.level4 {
	font-weight: bold;
	border-left: 32px solid #bf9886;
	text-align: right;
	margin-bottom: 1px;
}

.level5 div.entity {
	width: 14em;
	background-image: none;
	background-color: #ADCCB7;
	border: 2px solid #000000;
	color: #000000;
}
.level5 div.entity a {
	color: #000;
}
option.level5 {
	font-weight: bold;
	border-left: 32px solid #ADCCB7;
	text-align: right;
	margin-bottom: 1px;
}

.level6 div.entity {
	width: 14em;
	background-image: none;
	background-color: #A3BFCC;
	border: 2px solid #000000;
	color: #000000;
}
.level6 div.entity a {
	color: #000;
}
option.level6 {
	font-weight: bold;
	border-left: 32px solid #A3BFCC;
	text-align: right;
	margin-bottom: 1px;
}


.level7 div.entity {
	width: 14em;
	background-image: none;
	background-color: #AD9CA9;
	border: 2px solid #000000;
	color: #000000;
}
.level7 div.entity a {
	color: #000;
}
option.level7 {
	font-weight: bold;
	border-left: 32px solid #AD9CA9;
	text-align: right;
	margin-bottom: 1px;
}

.level8 div.entity {
	width: 14em;
	background-image: none;
	background-color: #D9D0C3;
	border: 1px solid #000000;
	color: #000000;
}
.level8 div.entity a {
	color: #000;
}
option.level8 {
	font-weight: bold;
	border-left: 32px solid #D9D0C3;
	text-align: right;
	margin-bottom: 1px;
}

option.level9 {
	font-weight: bold;
	border-left: 32px solid #eeeeee;
	text-align: right;
	margin-bottom: 1px;
}
option.level10 {
	font-weight: bold;
	border-left: 32px solid #ffffff;
	text-align: right;
	margin-bottom: 1px;
}


.horizontal div.entity {
	margin: 0 auto;
	text-align: left;
}

.vertical div.entity {
	margin: 0;
	text-align: left;
}


div.entity.matching {
	outline: 3px solid lightgreen;
}

.horizontal div.entity.shaded {
	opacity: 0.25;
}

.vertical div.entity.shaded {
	opacity: 0.25;
}


.horizontal div.first_sibling {
	padding: 8px 0.5em 0 0.5em;
	background-position: top center;
	background-repeat: no-repeat;
	background-image: url("./images/orgchart/first.gif");
}

.horizontal div.middle_sibling {
	padding: 8px 0.5em 0 0.5em;
	background-position: top center;
	background-repeat: no-repeat;
	background-image: url("./images/orgchart/middle.gif");
}

.horizontal div.last_sibling {
	padding: 8px 0.5em 0 0.5em;
	background-position: top center;
	background-repeat: no-repeat;
	background-image: url("./images/orgchart/last.gif");
}

.horizontal div.single_sibling {
	padding: 8px 0.5em 0 0.5em;
	background-position: top center;
	background-repeat: no-repeat;
	background-image: url("./images/orgchart/only.gif");
}



.horizontal {
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	background-position: top center;
	background-repeat: no-repeat;
	background-image: url("./images/orgchart/first_horizontal_top.gif");
}

.horizontal td.subtree {
	padding-top: 6px;
}

.vertical {
	background-repeat: no-repeat;
	background-position: top center;
	background-image: url("./images/orgchart/first_vertical_top.gif");
	margin: 0 0.5em 0 0.5em;
	padding: 8px 0 0 0;
	text-align: left;
}

.vertical li.subtree {
	list-style-type: none;
}

.vertical .first_sibling,
.vertical .middle_sibling {
	padding: 8px 0 0 1em;
	background-repeat: no-repeat;
	background-position: top left;
	background-image: url("./images/orgchart/first_vertical.gif");
}

.vertical .last_sibling ,
.vertical .single_sibling {
	padding: 8px 0 0 1em;
		background-repeat: no-repeat;
	background-position: top left;
	background-image: url("./images/orgchart/last_vertical.gif");
}

.vertical .first_sibling,
.vertical .middle_sibling,
.vertical .last_sibling,
.vertical .single_sibling {
	padding-bottom: 0;
}


.orgchart div.switch_open {
	background: url(./images/orgchart/less.gif); 
	background-repeat: no-repeat;
	background-position: center center;
	width: 21px;
	height: 9px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	cursor: pointer;
}

.orgchart div.switch_closed {
	background: url(./images/orgchart/more.gif); 
	background-repeat: no-repeat;
	background-position: center center;
	width: 21px;
	height: 9px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	cursor: pointer;
}

.orgchart div.switch_open:hover,
.orgchart div.switch_closed:hover {
	background-color: #000000;
}

.bab_tooltipEntity {
	background-color: #FFFFFF;
	border: 1px solid black;
	position: absolute;
	width: 300px;
	z-index: 255;
}

.bab_tooltipEntity .actions {
	display: none;
}


@media print {
	.orgchart .actions {
		display: none;
	}
	.orgchart div.switch_open {
		display: none;
	}
	.orgchart div.switch_closed {
		display: none;
	}
	.bab_treeToolbar {
		display: none;		
	}
}
