
/* @IMPORT url("default/theme.css"); */


.widget-layout-vbox-item {
    margin: 0;
    display: block;
}

table.widget-layout-hbox {
    margin:0;
    border:0;
    padding:0;
    background:transparent;
    border-collapse: collapse;
    empty-cells: show;
}


div.widget-layout-hbox {
    white-space: nowrap;
}

.widget-layout-hbox-tr {
    background:transparent;
}

td.widget-layout-hbox-item {
    margin:0;
    border:0;
    padding:0;
    background:transparent;
    vertical-align:top;
}


.widget-invisible {
    display: none;
}

.widget-block {
    display: block !important;
}

.widget-layout-flow-item {
    margin: 0;
    white-space: normal;
    display: inline-block;
}


.widget-textedit {
    position: relative;
    right: 0;
}

.widget-valign-middle,
.widget-valign-middle > * {
    vertical-align: middle;
}

.widget-form-rejected .widget-radio.widget-radio-rejected:not(:checked) {
    outline: 1px solid red !important;
}

.widget-radioset.widget-rejected {
    border: none !important;
}

.widget-radioset .widget-layout-flow-item,
.widget-radioset input,
.widget-radioset label {
    vertical-align:middle;
}


.widget-radioset .widget-layout-vbox-item {
    margin-top:.5em;
    margin-bottom:.5em;
}


a.widget-link {
    text-decoration: none;
    cursor: pointer !important;
}


/*** Icons ***/


.widget-icon {
    background-repeat: no-repeat;
    overflow: visible;
    display: inline-block;
}

.widget-icon-label,
.widget-icon-sub-label {
    overflow: hidden;
}
.widget-icon-sub-label {
    color: #888888;
}

.widget-icon-left .widget-icon-label {
    vertical-align: middle;
}

.widget-icon-left .widget-icon {
    text-align: left;
    vertical-align: middle;
    background-position: 4px center;
}

.widget-icon-top .widget-icon {
    text-align: center;
    vertical-align: top;
    background-position: center 4px;
}

.widget-icon-left-16 .widget-icon {
    min-height: 1em;
    padding: 0.25em 4px 0.25em 24px;
}

.widget-icon-left-24 .widget-icon {
    min-height: 1em;
    padding: 0.25em 4px 0.25em 32px;
}

.widget-icon-left-32 .widget-icon {
    padding: 1em 8px 1em 44px;
}

.widget-icon-left-48 .widget-icon {
    padding: 24px 4px 24px 58px;
}

.widget-icon-left-64 .widget-icon {
    padding: 32px 4px 32px 74px;
}

.widget-icon-left-128 .widget-icon {
    padding: 3em 4px 3em 138px;
}


.widget-icon-top-16 .widget-icon {
    min-width: 20px;
    padding: 20px 4px 4px 4px;
}

.widget-icon-top-24 .widget-icon {
    min-width: 26px;
    padding: 26px 4px 4px 4px;
}

.widget-icon-top-32 .widget-icon {
    min-width: 36px;
    padding: 36px 4px 4px 4px;
}

.widget-icon-top-48 .widget-icon {
    min-width: 52px;
    padding: 52px 4px 4px 4px;
}

.widget-icon-top-64 .widget-icon {
    min-width: 68px;
    padding: 68px 4px 4px 4px;
}

.widget-icon-top-128 .widget-icon {
    min-width: 132px;
    padding: 132px 4px 4px 4px;
}

.widget-list-view .widget-icon-top-48 .widget-icon,
.widget-list-view.widget-icon-top-48 .widget-icon {
    padding: 4px 4px 4px 4px;
}

.widget-toolbar {
    display: inline-block;
}





.widget-align-right {
    text-align: right;
}

.widget-align-center {
    text-align: center;
}

.widget-align-left {
    text-align: left;
}

.widget-align-top {
    vertical-align: text-top;
}

.widget-align-bottom {
    vertical-align: bottom;
}

.widget-align-middle {
    vertical-align: middle;
}

.widget-text-large {
    font-size: 200%;
}

.widget-position-relative {
    position: relative;
}

.widget-position-absolute {
    position: absolute;
}

.widget-full-width {
    width: 100% !important;
}


/****** FULLCALENDAR ******/

.widget-fullcalendar .fc-event {
    font-size: 1em;
}

.widget-fullcalendar .fc-agenda-days th {
    vertical-align: bottom;
}
.widget-fullcalendar .fc-agenda .fc-agenda-axis {
    vertical-align: top;
}
.fc-minor {
    font-size: 80%;
    opacity: 0.6;
}

.widget-fullcalendar .fc-content {
    background-color: rgba(255, 255, 255, 0.5);
}
.widget-fullcalendar .widget-fullcaldendar-period-button {
    background: transparent;
    border: none;
    color: #000;
    cursor: pointer;
    display: block;
    font-size: 14px;
    margin: 0 auto;
    opacity: 0;
}

.widget-fullcalendar .fc-view-month .widget-fullcaldendar-period-button {
    position: relative;
    top: -18px;
    height: 0;
}


.widget-fullcalendar .fc-view > table > tbody > tr > td:hover .widget-fullcaldendar-period-button {
    opacity: 1;
}


.widget-fullcalendar .fc-resourceName, .widget-fullcalendar .fc-widget-header {
    background-color: rgba(0,0,0,0.025);
}

.fc-event-inner .actions {
    display: none;
    position: absolute;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    text-shadow: none;
    border-bottom-left-radius: 5px;
    z-index: 1;
}
.fc-event-inner:hover .actions {
    display: block;
}

.fc-event-inner .categories {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    font-size: 70%;
    background: rgba(0,0,0,0.25);
    padding: 2px 4px;
    border-bottom-left-radius: 4px;
    font-weight: bold;
}

.widget-fullcalendar .fc-event {
    box-shadow: 0 0 0 1px #555;
}

.widget-fullcalendar .fc-event:hover {
    box-shadow: 0 0 0 1px;
}

.fc-grid .fc-event-time {
    display: inline-block;
}


.fc-event-inner .resource {
    display: block;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.25);
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}
.fc-event-inner:hover .resource,
.fc-event-inner:hover .fc-event-title {
    white-space: normal;
}

.fc-event-inner .fc-event-title {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}

.fc-view-resourceWeek tbody > tr:hover,
.fc-view-resourceMonth tbody > tr:hover,
.fc-view-resourceNextWeeks tbody > tr:hover,
.fc-view-resourceDay tbody > tr:hover {
    background-color: #f7f7f7;
}
td.fc-resourceName,
th.fc-resourceName {
    white-space: nowrap;
    border: 1px solid #ddd;
}
td.fc-resourceName > img,
td.fc-resourceName > span {
    vertical-align: middle;
    white-space: normal;
    display: inline-block;
}



.widget-tabs > * > .widget-layout-vbox-item {
    margin: 0;
}


.widget-menu {
    display: none;
}

.widget-menu .widget-icon {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 0;
    height: 16px;
}
.widget-menu .widget-icon-label {
    display: none;
}

.widget-popup-menu {
    max-height: 380px;
    overflow: auto;
    background: #ddd;
    border: 1px solid #999;
    padding: 5px;
    border-radius: 5px;
}
.widget-popup-menu .widget-icon .widget-icon-label {
    display: inline;/*because it broke on some popupmenu : http://proto.cantico.fr/defi/index.php?org=1&tg=addon%2Fcrmdefi%2Fmain&idx=organization.display (open one on a contact)*/
    white-space: nowrap;
}
.widget-popup-menu .widget-icon {
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 6px;
    padding-left: 24px;
    height: 16px;
}

.widget-popup-menu .widget-layout-flow-item {
    width: 100%;
    box-sizing: border-box;
}
.widget-popup-menu .widget-link {
    display: block;
    /*background-color: #eee;*/
    border: 1px solid #ccc
}
.widget-popup-menu .widget-layout-flow-item .widget-link {
    white-space: nowrap;
    padding-right: 16px;
}

.widget-popup-menu .widget-link:hover {
    outline: none;
    text-decoration: none;
}
.widget-popup-menu .widget-layout-flow-item {
    margin: 0;
}


.widget-menu table.widget-layout-vbox {
    margin: 0 !important;
    border: 0 !important;
}

.widget-menu td.widget-layout-vbox-item {
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
}



.widget-menu-separator {
    display: block;
    border: none;
    margin: 0.5em;
}






.widget-accordion-header {
    display: block;
    padding: 4px;
    padding-left: 16px;
}



.widget-timepicker {
    display: block;
}

.widget-displaymode.widget-timepicker{
    background-color: transparent;
}

#widget-timepicker-detail a {
    text-decoration: none;
    padding: 2px 4px;
}

#widget-timepicker-detail a:hover {
    background-color: #aaaaaa;
    color: #ffffff;
}







div.time-picker {
    background:#FFFFFF none repeat scroll 0 0;
    border:1px solid #000000;
    height:200px;
    overflow:auto;
    position:absolute;
    width:4em;
    z-index:99;
    margin-top: 2em;
}
div.time-picker-12hours {
    width:6em;
}
div.time-picker ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
div.time-picker li {
    cursor:pointer;
    padding:1px;
}
div.time-picker li.selected {
    background:#316AC5 none repeat scroll 0 0;
    color:#FFFFFF;
}





.widget-layout-hbox-item.minimum {
    width: 1px;
}

.widget-layout-hbox-item.maximum {
    width: 100%;
}
.widget-layout-vbox-item.maximum > .widget-layout-hbox,
.widget-layout-vbox-item.maximum > div,
.widget-layout-vbox-item.maximum > div > .widget-layout-hbox,
.widget-layout-hbox-item.maximum > .widget-layout-hbox,
.widget-layout-hbox-item.maximum > div,
.widget-layout-hbox-item.maximum > div > .widget-layout-hbox
{
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}



.widget-layout-hbox.expand {
    width: 100%;
}






.widget-multifield .widget-layout-vbox-item * {
    vertical-align:middle;
}

.widget-multifield small {
    padding:1px 2px;
    margin:3px;
    font-weight:normal;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}


.widget-userpicker {
    display: inline-block;
    width: 20em;
    height: 24px !important;
    border: 1px solid #dddddd;
    cursor: pointer;
    position:relative;
    box-sizing: border-box;
    background-color:#fff;
}

.widget-userpicker div {
    min-height: 1.2em;
    padding-top: 2px;
    display: inline-block;
}

.widget-grouppicker {
    display: inline-block;
    width: 20em;
    min-height: 1.2em;
    border: 1px solid #dddddd;
    cursor: pointer;
}

.widget-grouppicker div {
    min-height: 1.2em;
    margin-left: 20px;
    width: 20em;
}

.widget-labeled-drop-item {
	padding: 5px;
	border: 1px solid #777;
	border-radius: 5px;
}

.widget-drop-item {
	cursor: move;
}




.widget-topiccategorypicker {
    display: inline-block;
    width: 20em;
    min-height: 1.2em;
    border: 1px solid #dddddd;
    cursor: pointer;
    background-color: rgba(255,255,255,0.5);
}


.widget-topiccategorypicker div {
    min-height: 1.2em;
    margin-left: 20px;
    width: 20em;
}



span.widget-displaymode {
    display: -moz-inline-stack;
    display: inline-block;
}

table.widget-calendar tbody.widget-calendar-header-section {
    overflow: hidden;
}
table.widget-calendar tbody.widget-calendar-periods-section {
    height: 100%;
}


.widget-label-mandatory {
    padding-right: 10px;
    background-image: url('images/mandatory.png');
    background-repeat: no-repeat;
    background-position: top right;
}
.mandatory-explanation {
    background-image: url("images/mandatory.png");
    background-position: left top;
    background-repeat: no-repeat;
    padding-left: 10px;
}


/*** widget-tableview ***/

.widget-tableview {
    overflow-x: auto;
}
.widget-tableview > table,
.widget-tableview > .widget-layout-vbox-item > table {
    width: 100%;
}

.widget-table-row td.numeric,
.widget-table-row td.numeric input {
    text-align:right;
}


.widget-column-fixed-6em {
    width: 6em !important;
}

.widget-column-minimal-width {
    width: 1px !important;
    padding: 0 !important;
}
.widget-column-thin {
    width: 1px !important;
}
.widget-column-center {
    text-align: center;
}
.widget-column-right {
    text-align: right;
}

.widget-column-nowrap {
    max-width:200px;
    white-space: nowrap;
    overflow: hidden;
}


.widget-hidden-column {
    display: none !important;
}



.graphBar {
    margin: 0 2px 0 1px;
    outline: 1px solid rgba(0, 0, 0, 0.5);
}






.widget-filepicker-file {
    display: inline-block;
    text-align:center;
    background-color: rgba(0,0,0,0.035);
    border: 1px solid rgba(0,0,0,0.06);
    border-radius: 4px;

    cursor:pointer;
    margin:0.6em 0 0;
    padding:0.2em;
}


.widget-filepicker-loadingprogress {
    background-color: rgba(255,255,255,0.75);
    border: 1px solid rgba(0,0,0,0.2);

    display: -moz-inline-block;
    display: inline-block;
    position:relative;

    top:-90px;
    margin-bottom:-90px;

    width:90%;

    margin-left:auto;
    margin-right:auto;

    padding:0;
    text-align:center;
}


.widget-filepicker-loadingprogress .progresscontainer {
    border:#000 1px solid;
    background:#fff;
    margin:.1em 1em .5em 1em;
    padding:1px;
}

.widget-filepicker-loadingprogress .progresscontainer div {
    background:#444;
    height:5px;
    width:0%;
}


.widget-filepicker-values {
    display: inline;
}


.widget-filepicker-file-label {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}


.widget-filepicker-add {
    display: inline-block;
    padding:.2em .5em;
    margin:.4em .3em .2em .3em;
    cursor: pointer;
}


.widget-filepicker-onefilemode {
    text-align:center;
}


.widget-filepicker-gravatar {
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height:20px;
    margin:.4em .2em .2em .2em;
    vertical-align:middle;
    background: transparent url('images/widgets/icon_gravatar.png') no-repeat center center;
}


.widget-filepicker-suggest {
    display: -moz-inline-block;
    display: inline-block;
    cursor: pointer;
    width: 50px;
    height:20px;
    margin:.4em .2em .2em .2em;
    vertical-align:middle;
    background: transparent url('images/widgets/google.png') no-repeat center center;
}


.widget-filepicker-googlesuggestions {
    text-align:center;
}

.widget-filepicker-googlesuggestions a img {
    border:#ccc 1px solid;
    padding:2px;
    margin:8px;
}

.widget-filepicker-dragover {
    outline: 1px solid orange;
}
.widget-filepicker-drag {
	background-color: rgba(0,0,0,0.0125);
    border: 3px dotted #ddd;
    margin: -2px;
}
.widget-filepicker-drag::after {
	content: 'Drop files here...';
}




/*** widget-section ***/

.widget-section.widget-foldable.widget-nested .widget-section-content {
    padding: 4px 0 0 2em;
    border-left: 1px solid rgba(0,0,0,0.1);
    margin-left: 0.5em;
}

.widget-section.widget-foldable.widget-folded .widget-section-content {
    display: none;
}

.widget-section.widget-foldable .widget-section-header .handle {
    cursor: pointer;
}

.widget-section .widget-section-header {
    border-radius: 3px;
    transition-duration: 1s;
}

.widget-section .widget-section-header h3,
.widget-section .widget-section-header h4 {
    margin:0;
    padding:3px;
}

.widget-section .widget-section-header h4:empty {
	display:none;
}

.widget-section.widget-foldable .widget-section-header:hover  {
    background-color: #eee !important;
}

.widget-section.widget-foldable .widget-section-header .arrow  {
    display: inline-block;
    vertical-align:middle;
    background: transparent url('images/arrow_down.gif') 4px center no-repeat;
    width: 15px;
    height: 15px;
}


.widget-section.widget-foldable.widget-folded .widget-section-header .arrow  {
    background: transparent url('images/arrow_right.gif') 4px center no-repeat;
}


.widget-section .widget-section-content  {
    padding-top: 6px;
    padding-left: 15px;
}

.widget-section.compact .widget-section-content {
    padding: 0;
}



/*** widget-colorpicker ***/

.widget-colorpicker {
    cursor:pointer;
}

.widget-colorvalueslider.ui-slider-horizontal {
    background-image: linear-gradient(to right, black, white);
}

.widget-colorvalueslider .ui-slider-range {
    background: transparent;
}

.widget-babtableview {
    border:#666 1px solid;
    margin:1em 1.5em;
}


/* optional classes used when designing pages */


.widget-centered {
    display:block;
    margin-left:auto;
    margin-right:auto;
}



/*** widget-treeview ***/

.widget-treeview .bab_tree div.line div, .widget-treeview .bab_tree div.line span{
    line-height: 23px;
    vertical-align: middle;
}

.widget-treeview .bab_tree div.line {
    border-radius: 0;
    border: none;
}

.widget-treeview .bab_tree .tree {
    background: transparent;
    margin-left: -1.8em;
    padding: 0;
}
.widget-treeview .bab_tree div.line:hover {
    outline: 1px solid rgba(0, 0, 0, 0.3);
    border: none;
    padding: 1px;
}

.widget-treeview div.line {
    white-space: nowrap;
}

.widget-treeview .line a,
.widget-treeview .line a:hover,
.widget-treeview .line a:visited {
    text-decoration:none;
}

.widget-treeview .bab-highlighted-node {
    background-color: rgba(0, 0, 0, 0.05);
}


.widget-treeview .line .widget-layout-flow {
    display: inline-block;
}

.widget-treeview .bab_tree div.line .right_elements {
    top: 0;
}

.widget-treeview .bab_tree ul {
    list-style-type: none;
    margin: 0 0 0 2em !important;
    padding: 0 !important;
}

.widget-treeview .bab_tree li {
    margin: 0 !important;
    padding: 0 !important;
}

.widget-treeview .bab_tree div.line div.level1,
.widget-treeview .bab_tree div.line div.level2,
.widget-treeview .bab_tree div.line div.level3,
.widget-treeview .bab_tree div.line div.level4,
.widget-treeview .bab_tree div.line div.level5,
.widget-treeview .bab_tree div.line div.level6,
.widget-treeview .bab_tree div.line div.level7,
.widget-treeview .bab_tree div.line div.level8,
.widget-treeview .bab_tree div.line div.level9,
.widget-treeview .bab_tree div.line div.level10 {
    display: inline-block;
    box-sizing: border-box;
    left: 16px;
    overflow: hidden;
    position: absolute;
    right: 0;
}





textarea, input,
div.wysiwyg {
    box-sizing: border-box;
}



.widget-fullwidth {
    width: 100%;
    box-sizing: border-box;
}

.widget-nowrap {
    white-space: nowrap;
}



@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


.widget-dialog-loading-content {
    padding: 0 !important;
    border-radius: 50%;
    margin: 100px;
    width: 24px !important;
    height: 24px !important;
    border: 0.25rem solid rgba(0, 0, 0, 0.3) !important;
    border-top-color: white !important;
    -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

.widget-loading-content::before {
    content:" ";
    display:block;
    position:absolute;
    margin: -12px;
    right:50%;
    top:50%;
    border-radius: 50%;
    width: 24px !important;
    height: 24px !important;
    border: 0.25rem solid rgba(0, 0, 0, 0.3) !important;
    border-top-color: white !important;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

/* DatePicker */

.widget-datepicker,
.widget-datetimepicker {
    background-image:url(images/datepicker.png);
    background-position: 2px center;
    background-repeat:no-repeat;
    padding-left: 20px !important;
}

.ui-datepicker td.ui-datepicker-week-col,
.ui-datepicker th.ui-datepicker-week-col {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 85%;
    font-weight: bold;
    opacity: 0.5;
    padding-right: 4px;
}


/* EmailLineEdit */

.widget-emaillineedit {
    background-image:url(images/mail.png);
    background-position:2px 1px;
    background-repeat:no-repeat;
    padding-left: 20px !important;
}

.widget-emaillineedit-invalid {
    background-position:2px -47px;
}


/* UrlLineEdit */

.widget-urllineedit {
    background-image:url(images/url.png);
    background-position:2px 1px;
    background-repeat:no-repeat;
    padding-left: 20px !important;
}

.widget-urllineedit-invalid {
    background-position:2px -47px;
}


/* TelLineEdit */

.widget-tellineedit {
    background-image:url(images/telephone.png);
    background-position:2px 1px;
    background-repeat:no-repeat;
    padding-left: 20px !important;
}

.widget-tellineedit-invalid {
    background-position:2px -47px;
}

.widget-tellineedit-mob {
    background-image:url(images/mobile.png);
}

.widget-tellineedit-fax {
    background-image:url(images/fax.png);
}



/* RegExpLineEdit */

.widget-regexplineedit {
}

.widget-regexplineedit-invalid {
    color: red;
}


/* validate input fields */

.widget-input-ajax-validate {
    background-position: 2px center;
    background-repeat:no-repeat;
    padding-left: 20px;
}

.widget-input-ajax-validate.widget-invalid {
    background-image:url('images/invalid.png');
}

.widget-input-ajax-validate.widget-valid {
    background-image:url('images/valid.png');
}


/* Section */


.widget-section .widget-hide-unfolded {
    display: none;
}

.widget-section.widget-folded .widget-hide-unfolded {
    display: inherit;
}


/* Dockable (javascript is necessary to view this type of widget) */

/* The main button */
.widget-dockable {
    display:none;
    color:#ccc;
    background:#333 url(images/darrowright.gif) no-repeat 10px 7px;
    border-top:#444 1px solid;
    border-right:#444 1px solid;
    border-bottom:#444 1px solid;
    padding:30px .5em .5em .5em;
    cursor:pointer;

    max-width:50px;
    min-width:15px;

    position:absolute;
    top:150px;
    left:0;
    z-index:999;

    box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);
    border-radius: 0 5px 5px 0;
}


.widget-dockable:hover {
    background:#000 url(images/darrowright.gif) no-repeat 11px 7px;
    min-width:16px;
}


.widget-dockable-content {
    margin:.8em;
    min-height:100px;
}

.widget-dockable-frame .closed {
    display:none;
}

.widget-dockable-frame .loading {
    background:transparent url(images/ajax-loader.gif) no-repeat 50% 50%;
}

.widget-dockable-frame .open {
    z-index:1000;
    position:fixed;
    top:5px;
    bottom:5px;
    left:0px;
    display:block;

    min-width:225px;

    border-top:#999 1px solid;
    border-right:#999 1px solid;
    border-bottom:#999 1px solid;
    background:#fafafa;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);

    border-radius: 0 0 5px 0;
}

.widget-dockable-frame .open .widget-dockable-content {
    position: absolute;
    top: 29px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    box-sizing: border-box;
}

.widget-dockable-frame .docked {
    display:block;
}

/**
 * once docked...
 */
.widget-dock {
    position:relative;
    z-index:1000;
    width:300px;
    background:#fafafa;
    border-right:#aaa 2px solid;
    overflow:auto;
}

.widget-dockable-header {
    border-bottom:#888 1px solid;
    background:#fff url(images/e6e6e6_40x100_textures_02_glass_75.png) repeat-x  50% 50%;
    position:relative;
    height:28px;
}


.widget-dockable-header h3 {
    position:absolute;
    right:60px;
    left:5px;
    top:3px;
    font-size:12px;
    text-align: center;
}

.widget-dockable-header button {
    position:absolute;
    top:3px;
    border:none;
    height:20px;
    width:20px;
    border:#ccc 1px solid;
    cursor:pointer;
}

.widget-dockable-header button:hover {
    background-color:#fff;
}

.widget-dockable-header .close {
    right:3px;
    background:transparent url(images/16x16/window_close.png) no-repeat 50% 50%;
}

.widget-dockable-header .pin {
    right:28px;
    background:transparent url(images/16x16/pin_black.png) no-repeat 50% 50%;
}

.widget-dockable-frame .docked .pin {

    border-top:#444 1px solid;
    border-left:#444 1px solid;
    border-right:#fff 1px solid;
    border-bottom:#fff 1px solid;
}

.widget-dockable-fullsize-background.closed{
    width: 0;
    height: 0;
}

.widget-dockable-fullsize-background{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.6);
}

.widget-dockable-fullsize .widget-dockable-content{
    margin: 0 !important;
}

.widget-dockable-frame.widget-dockable-fullsize .open{
    position: fixed;
    top: 10%;
    left:50%;
    height: 80%;
    width: 850px;
    margin-left: -425px;
    overflow: auto;
}

.widget-delayed-action-loading,
.widget-delayeditem.loading {
    background: transparent; /* url(images/ajax-loader.gif) no-repeat 50% 50% !important;*/
}

.widget-table-row .widget-delayed-action-loading,
.widget-table-row .widget-delayeditem.loading {
    width: auto; /* do not set with 100% if delayed item is in a table cell */
}


.widget-delayed-action-loading > *,
.widget-delayeditem.loading > * {
    opacity:0.5;
}

.widget-90vw {
    width: 90vw;
    box-sizing: border-box;
}

.widget-100vw {
    width: 100vw;
    box-sizing: border-box;
}

.widget-5pc {
    width: 5%;
    box-sizing: border-box;
}
.widget-10pc {
    width: 10%;
    box-sizing: border-box;
}
.widget-15pc {
    width: 15%;
    box-sizing: border-box;
}
.widget-20pc {
    width: 20%;
    box-sizing: border-box;
}

.widget-25pc {
    width: 25%;
    box-sizing: border-box;
}

.widget-30pc {
    width: 30%;
    box-sizing: border-box;
}

.widget-33pc {
    width: 33.333333%;
    box-sizing: border-box;
}

.widget-40pc {
    width: 40%;
    box-sizing: border-box;
}

.widget-50pc {
    width: 50%;
    box-sizing: border-box;
}

.widget-60pc {
    width: 60%;
    box-sizing: border-box;
}

.widget-67pc {
    width: 66.666666%;
    box-sizing: border-box;
}

.widget-70pc {
    width: 70%;
    box-sizing: border-box;
}

.widget-75pc {
    width: 75%;
    box-sizing: border-box;
}

.widget-80pc {
    width: 80%;
    box-sizing: border-box;
}

.widget-90pc {
    width: 90%;
    box-sizing: border-box;
}

.widget-100pc {
    width: 100%;
    box-sizing: border-box;
}

.widget-60em {
    width: 60em;
}
.widget-50em {
    width: 50em;
}
.widget-40em {
    width: 40em;
}
.widget-30em {
    width: 30em;
}
.widget-20em {
    width: 20em;
}
.widget-19em {
    width: 19em;
}
.widget-18em {
    width: 18em;
}
.widget-17em {
    width: 17em;
}
.widget-16em {
    width: 16em;
}
.widget-15em {
    width: 15em;
}
.widget-14em {
    width: 14em;
}
.widget-13em {
    width: 13em;
}
.widget-12em {
    width: 12em;
}
.widget-10em {
    width: 10em;
}
.widget-8em {
    width: 8em;
}
.widget-7em {
    width: 7em;
}
.widget-6em {
    width: 6em;
}
.widget-5em {
    width: 5em;
}
.widget-4em {
    width: 4em;
}
.widget-3em {
    width: 3em;
}
.widget-2em {
    width: 2em;
}
.widget-1em {
    width: 1em;
}

.widget-min60em {
    min-width: 60em;
}
.widget-min50em {
    min-width: 50em;
}
.widget-min40em {
    min-width: 40em;
}
.widget-min30em {
    min-width: 30em;
}
.widget-min20em {
    min-width: 20em;
}
.widget-min19em {
    min-width: 19em;
}
.widget-min18em {
    min-width: 18em;
}
.widget-min17em {
    min-width: 17em;
}
.widget-min16em {
    min-width: 16em;
}
.widget-min15em {
    min-width: 15em;
}
.widget-min14em {
    min-width: 14em;
}
.widget-min13em {
    min-width: 13em;
}
.widget-min12em {
    min-width: 12em;
}
.widget-min10em {
    min-width: 10em;
}
.widget-min8em {
    min-width: 8em;
}
.widget-min7em {
    min-width: 7em;
}
.widget-min6em {
    min-width: 6em;
}
.widget-min5em {
    min-width: 5em;
}
.widget-min4em {
    min-width: 4em;
}
.widget-min3em {
    min-width: 3em;
}
.widget-min2em {
    min-width: 2em;
}
.widget-min1em {
    min-width: 1em;
}

.widget-10vh {
    max-height: 10vh;
    overflow: auto;
}
.widget-20vh {
    max-height: 20vh;
    overflow: auto;
}
.widget-30vh {
    max-height: 30vh;
    overflow: auto;
}
.widget-40vh {
    max-height: 40vh;
    overflow: auto;
}
.widget-50vh {
	max-height: 50vh;
	overflow: auto;
}
.widget-60vh {
    max-height: 60vh;
    overflow: auto;
}
.widget-70vh {
    max-height: 70vh;
    overflow: auto;
}
.widget-80vh {
    max-height: 80vh;
    overflow: auto;
}
.widget-90vh {
    max-height: 90vh;
    overflow: auto;
}
.widget-100vh {
    max-height: 100vh;
    overflow: auto;
}

.widget-col-30em {
    width: 30em;
}
.widget-col-20em {
    width: 20em;
}
.widget-col-17em {
    width: 17em;
}
.widget-col-16em {
    width: 16em;
}
.widget-col-15em {
    width: 15em;
}
.widget-col-14em {
    width: 14em;
}
.widget-col-13em {
    width: 13em;
}
.widget-col-12em {
    width: 12em;
}
.widget-col-10em {
    width: 10em;
}
.widget-col-8em {
    width: 8em;
}
.widget-col-7em {
    width: 7em;
}
.widget-col-6em {
    width: 6em;
}
.widget-col-5em {
    width: 5em;
}

.widget-col-10pc {
    width: 10%;
    box-sizing: border-box;
}

.widget-col-20pc {
    width: 20%;
    box-sizing: border-box;
}

.widget-col-25pc {
    width: 25%;
    box-sizing: border-box;
}

.widget-col-33pc {
    width: 33.333333%;
    box-sizing: border-box;
}

.widget-col-50pc {
    width: 50%;
    box-sizing: border-box;
}

.widget-col-67pc {
    width: 66.666666%;
    box-sizing: border-box;
}

.widget-col-75pc {
    width: 75%;
    box-sizing: border-box;
}

.widget-col-80pc {
    width: 80%;
    box-sizing: border-box;
}
.widget-col-100pc {
    width: 100%;
    box-sizing: border-box;
}

.widget-table-100pc {
    width: 100% !important;
    box-sizing: border-box;
}



.widget-list-element:first-child {
    border-top: none;
}


.widget-strong {
    font-weight: bolder;
}

.widget-light {
    font-weight: lighter;
}

.widget-small {
    font-size: 90%;
}

.widget-nowrap {
    white-space: nowrap;
}

.widget-checkboxmodelview {
    border:#ccc 1px solid;
    background-color: rgba(255, 255, 255, 0.5);
    padding:.3em .5em;
    display: inline-block;
}

.widget-checkboxmodelview-title {
    font-weight:bold;
}

.widget-checkboxmodelview-innerframe {
    overflow:auto;
    margin-top:.5em;
    width:100%;
}

.widget-checkboxmodelview-innerframe > .widget-layout-multicolumn {
    margin-right:1.5em !important;
}

.widget-checkboxmodelview-innerframe .widget-label {
    white-space:nowrap;

}

.widget-view-as-chart {
    font-size: 90%;
    margin: 0 auto;
}


.widget-instant-form {
    display: none;
}


.widget-sortable>div {
    cursor:move;
    margin:1px 0;
    padding:.2em;
}

.ui-sortable-helper {
    border:rgba(0,0,0,0.1) 1px dashed;
    border-radius:6px;
    background:rgba(0,0,0,0.02);
    display: inline-block;
}

.ui-multiselect-hasfilter ul { position:relative; top:2px }
.ui-multiselect-filter { float:left; margin-right:10px; font-size:11px }
.ui-multiselect-filter input { width:100px; font-size:10px; margin-left:5px; height:15px; padding:2px; border:1px solid #292929; -webkit-appearance:textfield; -webkit-box-sizing:content-box; }

.ui-multiselect-menu-2column .ui-multiselect-filter input,
.ui-multiselect-menu-3column .ui-multiselect-filter input,
.ui-multiselect-menu-4column .ui-multiselect-filter input {
    width: 400px;
}

.bab-user-editor .ui-multiselect{ max-width: 400px; }
.ui-multiselect { padding:2px 0 2px 4px; text-align:left }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px !important }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000; text-align: left }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:auto }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:3px 1px }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { font-weight:bold; border-bottom:1px dotted rgba(0,0,0,0.2) }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding: 8px 3px 3px 3px; margin:1px 0; text-decoration:none }
.ui-multiselect-optgrp-child { padding-left: 10px }

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }


@media print{
    .ui-multiselect-menu {display: none;}

}

/* multi seleect 3column meni */
.ui-multiselect-menu-4column.ui-multiselect-menu.ui-widget.ui-widget-content.ui-corner-all,
.ui-multiselect-menu-3column.ui-multiselect-menu.ui-widget.ui-widget-content.ui-corner-all,
.ui-multiselect-menu-2column.ui-multiselect-menu.ui-widget.ui-widget-content.ui-corner-all {
    height: 500px;
    overflow: auto;
    width: 70em !important;
}

.ui-multiselect-menu-4column .ui-multiselect-checkboxes.ui-helper-reset,
.ui-multiselect-menu-3column .ui-multiselect-checkboxes.ui-helper-reset,
.ui-multiselect-menu-2column .ui-multiselect-checkboxes.ui-helper-reset {
    height: auto !important;
    height: initial !important;
}

.ui-multiselect {
    max-width: 100%;
}

.ui-multiselect-menu-4column .ui-multiselect-checkboxes li.ui-multiselect-optgroup-label,
.ui-multiselect-menu-3column .ui-multiselect-checkboxes li.ui-multiselect-optgroup-label,
.ui-multiselect-menu-2column .ui-multiselect-checkboxes li.ui-multiselect-optgroup-label {
    width: 100%;
}


.ui-multiselect-menu-4column .ui-multiselect-checkboxes li {
    width: 25%;
    display: inline-block;
    box-sizing: border-box;
}
.ui-multiselect-menu-3column .ui-multiselect-checkboxes li {
    width: 33.333%;
    display: inline-block;
    box-sizing: border-box;
}
.ui-multiselect-menu-2column .ui-multiselect-checkboxes li {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
}

.ui-multiselect-menu-4column .ui-multiselect-checkboxes label,
.ui-multiselect-menu-3column .ui-multiselect-checkboxes label,
.ui-multiselect-menu-2column .ui-multiselect-checkboxes label {
    white-space: nowrap;
    height: 19px !important;
    overflow: hidden;
}



.widget-description {
    font-weight:bold;
}

.widget-long-description {
    font-style:italic;
    font-weight:normal;
    color:#777;
}


.color-picker-popup {
    background:#777;
    padding:5px auto auto 10px;
     border:none;
     border-collapse: collapse;
     width: 100%;
}

.color-picker-popup td {
    cursor:pointer;
    border: 1px solid #000;
}








/* MULTI LANGUAGE */

.widget-switch-lang {
    background: none repeat scroll 0 0 #999;
    border-radius: 4px;
    color: #fff !important;
    display: inline-block;
    margin: 2px;
    padding: 4px;
    text-align: center;
    text-shadow: none !important;
    width: 20px !important;
    cursor: pointer;
}
.widget-switch-lang.selected {
    font-weight: bold;
    background: none repeat scroll 0 0 #555;
}







@keyframes blink {
    to {
        visibility: hidden;
    }
}

.widget-sitemap-menu ul.loading li span {
    animation: blink .5s steps(3, start) infinite;
}

.ui-datepicker-calendar .widget-highlight {
    background-color: rgba(0,0,200,0.05);
}
.ui-datepicker-calendar .widget-highlight > a {
    border: 1px solid #777;
}
.widget-datepicker.inline,
.widget-datetimepicker.inline {
    background: none;
    padding-left: 0 !important;
}



/**
 * Fix for last jquery version
 * @url http://stackoverflow.com/questions/16917430/jquery-ui-1-10-dialog-and-z-index
 */
.ui-dialog, .ui-front {
    z-index: 1000;
}
.ui-dialog {
	max-width:100%;
}

#jquery-overlay,
#jquery-lightbox {
    z-index: 1001 ! important;
}



/**
 * Two panel layout, ContextPage widget
 */

.widget-two-panel-page>table {
    width:100%;
}

.widget-two-panel-page .widget-context-panel {
    /* default with for context panel */
    width:28em;
}

.widget-two-panel-page #widget_context_panel {
    /* default margin beetween the two panels */
    margin-left:.5em;
}

.widget-multilanglineedit {
    position: relative;
}
.widget-lang-switcher {
    position: absolute;
    right: 0;
    top: -2em;
}

html .widget-discarded {
    display: none;
}

.widget-rejected {
    border: 1px solid red !important;
}

.widget-rejected.widget-checkbox {
    outline: 1px solid red !important;
}

a.widget-imagezoomer {
    display: inline-block;
}


/**INPUT PASSWORD**/
.widget-inputpassword-confirm-wrong {
    border-color: red !important;
}
.widget-inputpassword-confirm-right {
    border-color: green !important;
}
.widget-inputpassword-confirm {
	display: inline-block;
    color: red;
    margin-left: 10px;
    margin-top: 1px;
    /*position: absolute;*/
    background-color: #eee;
    border: 1px solid #aaa;
    padding: 3px;
}
.widget-inputpassword-rule-wrong {
    color: red;
}
.widget-inputpassword-rule-right {
    color: green;
}

.widget-2columns {
	column-count: 2;
}
.widget-3columns {
    column-count: 3;
}

.bab-page-messagebox {
    position: fixed;
    z-index: 1001;
    top: 5px;
    left: 20%;
    right: 20%;
}
.bab-page-messagebox > div {
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.alert {
  padding: 15px;
  margin-bottom: 28px;
  border: 1px solid transparent;
  border-radius: 0px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  right: -21px;
  color: inherit;
  float:right;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}


/* responsive on tables */



@media (max-width: 599px) {

    .widget-tableview.widget-tableview-responsive>div>table>thead>tr>* {
        display: none;
    }

    .widget-tableview.widget-tableview-responsive>div>table>tbody>tr>* {
        display: block;
    }

    .widget-tableview.widget-tableview-responsive>div>table>tbody>tr>*>.widget-html,
    .widget-tableview.widget-tableview-responsive>div>table>tbody>tr>*>.widget-layout {
        display: inline-block;
    }



    .widget-tableview.widget-tableview-responsive>div>table>tbody>tr>*:before {
        content: attr(data-th);
        font-weight: bold;
        width: 13em;
        display: inline-block;
    }


    .widget-tableview.widget-tableview-responsive>div>table>tbody>tr>* {
        text-align: left;
    }

    .widget-tableview.widget-tableview-responsive>div>table>tbody>tr>*:first-child {
        margin-top: 1.5em;
        border-top: #000 1px solid;
    }

    .widget-tableview.widget-tableview-responsive>div>table>tbody>tr>*:last-child {
        margin-bottom: 1.5em;
        border-bottom: #000 1px solid;
    }


    .widget-tableview-responsive .widget-table-row:hover,
    .widget-tableview-responsive .widget-table-row td,
    .widget-tableview-responsive .widget-table-row td.widget-table-column-sorted-asc,
    .widget-tableview-responsive .widget-table-row td.widget-table-column-sorted-desc,
    .widget-tableview-responsive .widget-table-row:hover td.widget-table-column-sorted-asc,
    .widget-tableview-responsive .widget-table-row:hover td.widget-table-column-sorted-desc {
        /* background: inherit; */
        border-bottom: none;
    }



    .widget-tableview-responsive .widget-column-thin {
        width: inherit !important;
    }

}


  
.widget-actions-target .widget-actions {
    opacity: 0.1;
    transition: opacity 0.4s;
}
.widget-actions-target:hover .widget-actions {
    opacity: 1;
    transition: opacity 0.4s;
}


/* WIDGET SLIDER */
.widget-slider-withbuttons {
	width: 80%;
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
}

.widget-slider-button {
	width: 8%;
}

/* *DIALOG */
/**
 * 1. Make the dialog container, and its child overlay spread across
 *    the entire window.
 */
.widget-dialog,
.widget-dialog-overlay {
  position: fixed; /* 1 */
  top: 0; /* 1 */
  right: 0; /* 1 */
  bottom: 0; /* 1 */
  left: 0; /* 1 */
}

/**
 * 1. Make sure the dialog container and all its descendants sits on
 *    top of the rest of the page.
 * 2. Make the dialog container a flex container to easily center the
 *    dialog.
 */
.widget-dialog {
  z-index: 2; /* 1 */
  display: flex; /* 2 */
}

/**
 * 1. Make sure the dialog container and all its descendants are not
 *    visible and not focusable when it is hidden.
 */
.widget-dialog[aria-hidden='true'] {
  display: none; /* 1 */
}

/**
 * 1. Make the overlay look like an overlay.
 */
.widget-dialog-overlay {
  background-color: rgba(43, 46, 56, 0.6); /* 1 */
}

/**
 * 1. Vertically and horizontally center the dialog in the page.
 * 2. Make sure the dialog sits on top of the overlay.
 * 3. Make sure the dialog has an opaque background.
 */
.widget-dialog-container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 95vh;
  width: fit-content;
  height: fit-content;
  
  background-color: rgb(255, 255, 255);
  margin: auto;
  z-index: 2;
  animation: fade-in 400ms 200ms both, slide-up 400ms 200ms both;
  border-radius: 24px;
}

.widget-dialog-title {
	position: relative;
	padding: 0.4em 1em;
	vertical-align: middle;
}

.widget-dialog-title-text {
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    color: #333;
    font-weight: 700;
    margin: 0.1em 0;
}

.widget-dialog-closebutton {
	position: absolute;
    right: 0.3em;
    top: 50%;
    width: 20px;
    margin: -10px 0 0;
    padding: 1px;
    height: 20px
}

.widget-dialog-content {
	padding: 0.5em 1em;
	overflow: auto;
}

/* WIDGET TIMELINE */

.widget-timeline.timeline-horizontal {
  display: block;
  margin: 0;
}

/* WIDGET FLEX */
.widget-layout-flex {
	display: flex;
}

.widget-layout-flex-justify-start {
	justify-content: flex-start;
}
.widget-layout-flex-justify-end {
	justify-content: flex-end;
}
.widget-layout-flex-justify-center {
	justify-content: center;
}
.widget-layout-flex-justify-between {
	justify-content: space-between;
}
.widget-layout-flex-justify-around {
	justify-content: space-around;
}
.widget-layout-flex-justify-evenly {
	justify-content: space-evenly;
}

.widget-layout-flex-align-content-normal {
	align-content: normal;
}
.widget-layout-flex-align-content-start {
	align-content: flex-start;
}
.widget-layout-flex-align-content-end {
	align-content: flex-end;
}
.widget-layout-flex-align-content-center {
	align-content: center;
}
.widget-layout-flex-align-content-between {
	align-content: space-between;
}
.widget-layout-flex-align-content-around {
	align-content: space-around;
}
.widget-layout-flex-align-content-evenly {
	align-content: space-evenly;
}
.widget-layout-flex-align-content-stretch {
	align-content: stretch;
}

.widget-layout-flex-align-start {
	align-items: flex-start;
}
.widget-layout-flex-align-end {
	align-items: flex-end;
}
.widget-layout-flex-align-center {
	align-items: center;
}
.widget-layout-flex-align-stretch {
	align-items: stretch;
}
.widget-layout-flex-align-baseline {
	align-items: baseline;
}

.widget-layout-flex-direction-row {
	flex-direction: row;
}
.widget-layout-flex-direction-row-reverse {
	flex-direction: row-reverse;
}
.widget-layout-flex-direction-column {
	flex-direction: column;
}
.widget-layout-flex-direction-column-reverse {
	flex-direction: column-reverse;
}

.widget-layout-flex-nowrap {
	flex-wrap: nowrap;
}
.widget-layout-flex-wrap {
	flex-wrap: wrap;
}
.widget-layout-flex-wrap-reverse {
	flex-wrap: wrap-reverse;
}


/* WIDGET GRID */
.widget-layout-grid {
	display: grid;
}

.widget-layout-grid-justify-items-stretch {
	justify-items: stretch;
}
.widget-layout-grid-justify-items-start {
	justify-items: start;
}
.widget-layout-grid-justify-items-end {
	justify-items: end;
}
.widget-layout-grid-justify-items-center {
	justify-items: center;
}

.widget-layout-grid-align-items-stretch {
	align-items: stretch;
}
.widget-layout-grid-align-items-start {
	align-items: start;
}
.widget-layout-grid-align-items-end {
	align-items: end;
}
.widget-layout-grid-align-items-center {
	align-items: center;
}
.widget-layout-grid-align-items-baseline {
	align-items: baseline;
}

.widget-layout-grid-justify-content-start {
	justify-content: start;
}
.widget-layout-grid-justify-content-end {
	justify-content: end;
}
.widget-layout-grid-justify-content-center {
	justify-content: center;
}
.widget-layout-grid-justify-content-stretch {
	justify-content: stretch;
}
.widget-layout-grid-justify-content-around {
	justify-content: space-around;
}
.widget-layout-grid-justify-content-between {
	justify-content: space-between;
}
.widget-layout-grid-justify-content-evenly {
	justify-content: space-evenly;
}

.widget-layout-grid-align-content-start {
	align-content: start;
}
.widget-layout-grid-align-content-end {
	align-content: end;
}
.widget-layout-grid-align-content-center {
	align-content: center;
}
.widget-layout-grid-align-content-stretch {
	align-content: stretch;
}
.widget-layout-grid-align-content-around {
	align-content: space-around;
}
.widget-layout-grid-align-content-between {
	align-content: space-between;
}
.widget-layout-grid-align-content-evenly {
	align-content: space-evenly;
}

:root {
 
  --color-red: #f44336;
  --color-pink: #e91e63;
  --color-purple: #ab47bc; /*#9c27b0;*/
  --color-deeppurple: #673ab7;
  
  --color-indigo: #3f51b5;
  --color-blue: #2196f3;
  --color-lightblue: #03a9f4;
  --color-cyan: #00bcd4;
  
  --color-teal: #009688;
  --color-green: #4caf50;
  --color-lightgreen: #8bc34a;
  --color-lime: #cddc39;
  
  --color-yellow: #ffeb3b;
  --color-amber: #ffc107;
  --color-orange: #ff9800;
  --color-deeporange: #ff5722;
  
  --color-brown: #795548;
  
  --color-grey: #9e9e9e;
  
  --color-bluegrey: #607d8b;
  
  
  --color-red-dark: #d32f2f;
  --color-pink-dark: #c2185b;
  --color-purple-dark: #7b1fa2;
  --color-deeppurple-dark: #512da8;
  
  --color-indigo-dark: #303f9f;
  --color-blue-dark: #1976d2;
  --color-lightblue-dark: #0288d1;
  --color-cyan-dark: #0097a7;
  
  --color-teal-dark: #00796b;
  --color-green-dark: #388e3c;
  --color-lightgreen-dark: #689f38;
  --color-lime-dark: #afb42b;
  
  --color-yellow-dark: #fdd835; /*#fbc02d; */
  --color-amber-dark: #ffa000;
  --color-orange-dark: #f57c00;
  --color-deeporange-dark: #e64a19;
  
  --color-brown-dark: #5d4037;
  
  --color-grey-dark: #616161;
  
  --color-bluegrey-dark: #455a64;
}

