.widget-tableview.widget-tableview-init-done .widget-tableview-fixed-header{
	width: 100%;
	overflow-y: scroll;
}
.widget-tableview.widget-tableview-init-done .widget-tableview-fixed-header table{
	border-collapse: collapse;
}
.widget-tableview.widget-tableview-init-done .widget-tableview-fixed-header thead{
	position: -webkit-sticky; /* for Safari */
	position: sticky;
	top: 0;
	background-color:white;
}
.widget-tableview.widget-tableview-init-done .widget-tableview-fixed-header thead td{
	background-clip: padding-box;
}