<table  border="0" cellspacing="0" cellpadding="2" align="center" class="widget-businessapplicationlist">
	<thead>
		<tr class="BabSiteAdminTitleFontBackground ui-dialog-titlebar">
			<!--#in getnextheader -->
			<td <!--#if description --> title="{ description }"<!--#endif description --> <!--#if classname --> class="{ classname }"<!--#endif classname -->>
				<!--#if orderby -->
				<a href="{ orderby }" class="ui-default-state">{ label }</a>
				<!--#else orderby -->
				{ label }
				<!--#endif orderby -->
			</td>
			<!--#endin getnextheader -->
		</tr>
	</thead>
	<tbody>
		<!--#in getnext_tr -->
		<tr class="BabSiteAdminFontBackground">
			<!--#in getnext_td -->
			<td <!--#if classname --> class="{ classname }"<!--#endif classname --> <!--#if bgcolor --> style="background-color:{ bgcolor }"<!--#endif bgcolor -->>{ value }</td>
			<!--#endin getnext_td -->
		</tr>
		<!--#endin getnext_tr -->
	</tbody>
</table>
<!--#if page_select -->
<p class="Widgets_bap_pages ui-dialog-titlebar">
	{ page_select }
</p>
<!--#endif page_select -->



