


<!--#begin subtree -->
	<!--#in getNextElement -->
	<!--#if t_levelVariation "== 1" --><ul><!--#endif t_levelVariation -->
	<!--#if t_levelVariation "<= -1" --></li></ul><!--#endif t_levelVariation -->
	<!--#if t_levelVariation "== 0" --></li><!--#endif t_levelVariation -->
	<!--#if t_levelVariation ">= -1" -->
		<!--#if t_fetchContentScript --><li id="li{ t_id }" class="bab_ul_tree_not_loaded"><!--#else t_fetchContentScript --><li id="li{ t_id }" class="bab_ul_tree_leaf"><!--#endif t_fetchContentScript -->
		<!--#if t_highlighted --><div class="line bab-highlighted-node"><!--#else t_highlighted --><div class="line"><!--#endif t_highlighted -->
			<!--#if t_fetchContentScript -->
			<img class="bullet" src="{ babSkinPath }images/Puces/Space1PxTrans.gif" width="14" height="17" alt="" onclick="if (hasClass(this.parentNode.parentNode, 'bab_ul_tree_not_loaded')) { t_fetchContentScript }" />
			<!--#else t_fetchContentScript -->
			<img class="bullet" src="{ babSkinPath }images/Puces/Space1PxTrans.gif" width="14" height="17" alt="" />
			<!--#endif t_fetchContentScript -->
			
			<!--#if t_link -->
			<a href="{ t_link }"><div class="level{ t_offsetPreviousLevel } { t_type }" title="{ t_tooltip }"><span style="vertical-align: middle; display: -moz-inline-block; display: inline-block; text-align: center"><!--#if t_nodeIcon --><img class="treeview-icon" src="{ t_nodeIcon }" alt="" title="{ t_tooltip }" /><!--#endif t_nodeIcon --></span>{ t_title }</div></a>
			<!--#else t_link -->
			<div class="level{ t_offsetPreviousLevel } { t_type }" title="{ t_tooltip }"><span style="vertical-align: middle; display: -moz-inline-block; display: inline-block; text-align: center"><!--#if t_nodeIcon --><img class="treeview-icon" src="{ t_nodeIcon }" alt="" title="{ t_tooltip }" /><!--#endif t_nodeIcon --></span>{ t_title }</div>
			<!--#endif t_link -->

			<!--#in getNextMenu -->
			<div style="vertical-align: middle; padding-left: 5px; position: relative; display: inline" class="menu { t_css_classes }" id="menu.{ t_id }.{ menu_name }">
				<a class="bab_menu_button" id="menubutton.{ t_id }.{ menu_name }" onclick="menu=document.getElementById('menuframe.{ t_id }.{ menu_name }'); bab_toggleMenu(this,menu);" style="position: relative; display: none; cursor: pointer; z-index: 126" title="{ menu_caption }"><img style="vertical-align: middle" src="{ menu_icon }" alt="" /></a>
				<div class="BabLoginMenuBackground" style="padding: 0; border: 1px solid #cccccc" id="menuframe.{ t_id }.{ menu_name }">
					<!--#in getNextMenuAction -->
					<!--#if action_name "== -" -->
					<div style="border-bottom: 1px solid #dddddd; display: block; margin: 8px 0; white-space: nowrap; vertical-align: middle" class="menu_action" href="{ action_url }" onclick="{ action_script }"></div>
					<!--#else action_name -->
					<div style="vertical-align: middle"><a style="display: block; padding: 4px; font-weight: normal; white-space: nowrap; vertical-align: middle" class="menu_action" href="{ action_url }" onclick="{ action_script }"><img src="{ action_icon }" alt=""  style="vertical-align: middle" />&nbsp;{ action_caption }</a></div>
					<!--#endif action_name -->
					<!--#endin getNextMenuAction -->
				</div>
			</div>
			<script type="text/javascript">
				document.getElementById('menubutton.{ t_id }.{ menu_name }').style.display = '';
				document.getElementById('menuframe.{ t_id }.{ menu_name }').style.display = 'none';
				document.getElementById('menuframe.{ t_id }.{ menu_name }').style.position = 'absolute';
				document.getElementById('menuframe.{ t_id }.{ menu_name }').style.zIndex = '127';
				document.getElementById('menuframe.{ t_id }.{ menu_name }').style.left = '0';
				document.getElementById('menuframe.{ t_id }.{ menu_name }').style.top = '20px';
			</script>					
			<!--#endin getNextMenu -->

			<!--#if t_showRightElements -->
			<div class="right_elements">{ t_info }
				<!--#in getNextCheckBox -->
				<input type="checkbox" name="{ checkbox_name }" onclick="{ checkbox_script }" <!--#if checkbox_checked -->checked="checked"<!--#endif checkbox_checked --> />
				<!--#endin getNextCheckBox -->
				<span class="actions" style="background-color: white">

					<!--#in getNextAction -->
					<a class="action { action_class }" href="{ action_url }" title="{ action_caption }" onclick="{ action_script }"><img src="{ action_icon }" alt="{ action_caption }" /></a>
					<!--#endin getNextAction -->

				</span>
			</div>
			<!--#endif t_showRightElements -->
		</div>
	<!--#endif t_levelVariation -->
	<!--#endin getNextElement -->
<!--#end subtree -->





<!--#begin treeview -->
<div id="{ t_treeViewId }" class="bab_tree { t_classes } <!--#if t_showToolbar -->bab-show-toolbar<!--#endif t_showToolbar --> BabLoginCadreBackground">
	<div class="tree BabLoginMenuBackground" style="position: relative">
		<script type="text/javascript">document.getElementById("{ t_treeViewId }").getElementsByTagName('DIV')[0].style.display='none'</script>
		{ t_subtree }
	</div>
	<!--#if t_isMultiSelect -->
	<div class="bab_treeToolbar BabSiteAdminTitleFontBackground" style="text-align: center;"><button type="submit" onclick="document.getElementById('{ t_treeViewId }').onSubmitTree();">{ t_submit }</button></div>
	<!--#endif t_isMultiSelect  -->
</div>

<script type="text/javascript">
//<![CDATA[
document.getElementById("{ t_treeViewId }").getElementsByTagName('DIV')[0].style.display=''
//]]>
</script>

<script type="text/javascript">
//<![CDATA[
if (!window.bab_Translations) {
	window.bab_Translations = new Array();
}
window.bab_Translations['Expand'] = '{ t_expand }';
window.bab_Translations['Collapse'] = '{ t_collapse }';

var treeview = document.getElementById("{ t_treeViewId }");

treeview.onElementClick = function(element)
{
	try {
		var returnParameters = {
			'type': element.className.split(' ')[1],
			'id': element.parentNode.parentNode.id.split('{ t_id_separator }')[1],
			'content': element.firstChild.nodeValue
		};
		window.opener.bab_dialog._return(returnParameters);
		window.close();
	} catch(e) {};
}

treeview.onSubmitTree = function()
{
	if (!window.opener) {
		window.close();
		return;
	}
	try {
		var returnParameters = new Array();
		var retstr = '';
		var inputs = this.getElementsByTagName('INPUT');
		for (i = 0; i < inputs.length; i++) {
			input = inputs[i];
			if (input.type == 'checkbox' && input.checked) {
				var element;
				for (j = 0; j < input.parentNode.parentNode.childNodes.length; j++) {
					e = input.parentNode.parentNode.childNodes[j];
					if (e.nodeName && (e.nodeName == 'SPAN' || e.nodeName == 'A') && e.className) {
						element = e;
						break;
					}
				}

				var returnParameter = {
					'type': element.className.split(' ')[1],
					'id': input.parentNode.parentNode.parentNode.id.split('{ t_id_separator }')[1],
					'content': element.firstChild.nodeValue
				}
				returnParameters.push(returnParameter);
				returnParameters['param'] = returnParameters;
				returnParameters['callback'] = 'EditorOnInsertFiles';
			}
		}
		window.opener.bab_dialog && window.opener.bab_dialog._return(returnParameters);
		window.close();
	} catch (err) {
		for (name in err) {
		}
	}
}

window.bab.addInitFunction(function() { 
	
	if ('function' !== typeof bab_initTree) {
        return;
    }
    
    var element = document.getElementById("{ t_treeViewId }");
    
    if (-1 !== element.className.indexOf('widget-init-done')) {
        return;
    }

    element.className += " widget-init-done";

    var tree = bab_initTree(element);
    
    
    
    if (tree) {
        <!--#if t_memorizeOpenNodes -->
        tree.memorizeOpenNodes = true;
        <!--#endif t_memorizeOpenNodes -->
        tree.loadState();
    }

});

//]]>
</script>

<!--#end treeview -->



<!--#begin simple_treeview -->

<div id="{ t_treeViewId }" class="bab_tree { t_classes } <!--#if t_showToolbar -->bab-show-toolbar<!--#endif t_showToolbar -->">
	<div class="tree" style="position: relative">
		<script type="text/javascript">document.getElementById("{ t_treeViewId }").getElementsByTagName('DIV')[0].style.display='none'</script>
		{ t_subtree }
	</div>
</div>

<script type="text/javascript">
//<![CDATA[
document.getElementById("{ t_treeViewId }").getElementsByTagName('DIV')[0].style.display=''
//]]>
</script>


<script type="text/javascript">
//<![CDATA[

if (!window.bab_Translations) {
    window.bab_Translations = new Array();
}
window.bab_Translations['Expand'] = '{ t_expand }';
window.bab_Translations['Collapse'] = '{ t_collapse }';




window.bab.addInitFunction(function() { 
	
	if ('function' !== typeof bab_initTree) {
		return;
	}
	
	
	
	var element = document.getElementById("{ t_treeViewId }");
	
	if (-1 !== element.className.indexOf('widget-init-done')) {
		return;
	}

	element.className += " widget-init-done";

	var tree = bab_initTree(element);
	
	
	
	if (tree) {
		<!--#if t_memorizeOpenNodes -->
		tree.memorizeOpenNodes = true;
		<!--#endif t_memorizeOpenNodes -->
		tree.loadState();
	}

});

//]]>
</script>
<!--#end simple_treeview -->



<!--#begin treeview_css -->

<!--#end treeview_css -->






<!--#begin treeview_scripts -->

<script type="text/javascript"><!--
//<![CDATA[



function bab_stopEvent(ev)
{
	ev || (ev = window.event);
	if ($.browser.msie) {
		ev.cancelBubble = true;
		ev.returnValue = false;
	} else {
		ev.preventDefault();
		ev.stopPropagation();
	}
	return false;
};

function bab_addEvent(el, evname, func)
{
	if (el.attachEvent) { // IE
		el.attachEvent("on" + evname, func);
	} else if (el.addEventListener) { // Gecko / W3C
		el.addEventListener(evname, func, true);
	} else {
		el["on" + evname] = func;
	}
};


// FIXME: the following 2 functions totally suck, are useless and should be replaced immediately.
function bab_getElement(ev)
{
	var f = $.browser.msie ? window.event.srcElement : ev.currentTarget;
	while (f.nodeType != 1 || /^div$/i.test(f.tagName))
		f = f.parentNode;
	return f;
};

function bab_getTargetElement(ev)
{
	var f = $.browser.msie ? window.event.srcElement : ev.target;
	while (f.nodeType != 1)
		f = f.parentNode;
	return f;
};

// This gets called when the user presses a mouse button anywhere in the
// document, if the calendar is shown.  If the click was outside the open
// calendar this function closes it.
var bab_checkMenu = function(ev)
{
	var menu = window.bab_currentMenu;
	if (!menu) {
		return false;
	}
	var el = $.browser.msie ? bab_getElement(ev) : bab_getTargetElement(ev);
	for (; el != null && el != menu; el = el.parentNode);
	if (el == null) {
		$(menu).hide();
		window.bab_currentMenu = null;
		return bab_stopEvent(ev);
	}
	return false;
};


function bab_toggleMenu(button,div)
{
//	if (window.bab_currentMenu && window.bab_currentMenu != div) {
//		$(window.bab_currentMenu).hide();
//	}

	var parentTreeDiv = $(div).parents(".tree")[0];

	var buttonX = 0;
	var buttonY = 0;
	for (var element = button; element != parentTreeDiv && element != null; element = element.offsetParent) {
		buttonX += element.offsetLeft;
		buttonY += element.offsetTop;
	}
	window.bab_currentMenu = div;
	$(parentTreeDiv).append(div);
	div.style.top = (buttonY + 10) + "px";
	if ($.browser.msie) {
		var nbUls = $(button).parents("ul").length + 1;
		div.style.left = (buttonX - 23 * nbUls) + "px";
	} else {
		div.style.left = buttonX + "px";
	}
	if ($(div).is(":hidden")) {
		$(div).fadeIn('normal');
		window.bab_currentMenu = div;
		bab_addEvent(document, "click", bab_checkMenu);
	}
//	 else {
//		$(div).hide();
//		window.bab_currentMenu = null;
//	}
}

//]]>
--></script>

<!--#end treeview_scripts -->





<!--#begin orgchart_css -->

<!--#end orgchart_css -->



<!--#begin orgchart_scripts -->

<script type="text/javascript">

function bab_arrayContains(a, val)
{
	for (var i in a)
		if (a[i] == val)
			return true;
	return false;
}


function hasOneOfClasses(element, classNames)
{
	for (var i = 0; i < classNames.length; i++) {
		if (jQuery(element).hasClass(classNames[i])) {
			return true;
		}	
	}
	return false;
}

function bab_toggleCollapsed()
{
	var element = this.controlledElement;
	var display = this.controlledElement.style.display;
	if (display == 'none') {
		if (typeof($j) != 'undefined') {
			$j(element).show('fast');
		} else {
			element.style.display = '';
		}
		this.className = 'switch_open';
	} else {
		if (typeof($j) != 'undefined') {
			$j(element).hide('normal');
		} else {
			element.style.display = 'none';
		}
		this.className = 'switch_closed';
	}
	this.orgChart.saveStateInStorage();
	bab_refresh(this.orgChart);
}


function bab_getOpenNodes()
{
	var openSwitchList = jQuery(this).find('.switch_open');
	var entityIds = new Array();
	openSwitchList.each(function() {
	    var openSwitch = this;
		var entity = openSwitch.controlledElement.parentEntity;
		entityIds.push(entity.id);
	});
	return entityIds;
}

function bab_getOpenMembers()
{
    var membersList = jQuery(this).find('.members');
    
	var entityIds = new Array();
	membersList.each(function() {
	    var members = this;
		if (members.style.display != 'none') {
			var entity = members.parentNode;
			entityIds.push(entity.id);
		}
	});
	return entityIds;
}



function bab_setOpenNodes(entityIds)
{
//	var body = document.getElementsByTagName('body')[0];
	var switchDivs = jQuery(this).find('.switch_open');
	switchDivs.each(function() {
	    var switchDiv = this;
		if (!entityIds.indexOf(switchDiv.controlledElement.parentEntity.id) >= 0) {
			switchDiv.className = 'switch_closed';
			switchDiv.controlledElement.style.display = 'none';
		}
	});

	switchDivs = jQuery(this).find('.switch_closed');
	switchDivs.each(function() {
	    var switchDiv = this;
		if (entityIds.indexOf(switchDiv.controlledElement.parentEntity.id) >= 0) {
			switchDiv.className = 'switch_open';
			switchDiv.controlledElement.style.display = '';
		}
	});
}


function bab_setOpenMembers(memberIds)
{
	//var body = document.getElementsByTagName('body')[0];
	var membersList = jQuery(this).find('.members');
	membersList.each(function() {
	    var members = this;
		members.style.display = 'none';
	});
	for (var i = 0; i < memberIds.length; i++) {
		var entity = document.getElementById(memberIds[i]);
		if (entity && entity.members) {
			entity.members.style.display = '';
		}
	}
}


function bab_refresh(orgChartDiv)
{
	// We force recalculation of sizes in ie.
	orgChartDiv.style.display = 'none';
	var tables = orgChartDiv.getElementsByTagName('TABLE');
	try {
		tables[0].style.fontSize = '0.1em'; 
		tables[0].style.fontSize = orgChartDiv.zoomFactor + 'em';
	} catch(e) { };
	orgChartDiv.style.display = '';
}




function bab_setLevel()
{
    var orgChartDiv = this.controlledElement;
    orgChartDiv.currentLevel = parseInt(this.value);
    
    orgChartDiv.thresholdLevel = parseInt(this.value);

    var previousLevels = Array();
    for (var i = 1; i <= orgChartDiv.currentLevel; i++) {
        previousLevels.push('level' + i);
    }
    var nextLevels = Array();
    for (var i = orgChartDiv.currentLevel + 1; i <= 9; i++) {
        nextLevels.push('level' + i);
    }

    var divs = orgChartDiv.getElementsByTagName('DIV');
    var nbDivs = divs.length;
    for (var i = 0; i < nbDivs; i++) {
        var div = divs[i];
        if (jQuery(div).hasClass('switch_closed') && hasOneOfClasses(div.controlledElement, previousLevels)) {
            div.controlledElement.style.display = '';
            div.className = 'switch_open';
        }
        else if (jQuery(div).hasClass('switch_open') && hasOneOfClasses(div.controlledElement, nextLevels)) {
            div.controlledElement.style.display = 'none';
            div.className = 'switch_closed';
        }
    }
    bab_refresh(orgChartDiv);

    orgChartDiv.saveStateInStorage();
}




function bab_setThresholdRelative()
{
    var orgChartDiv = this.controlledElement;
    orgChartDiv.relativeThreshold = jQuery(this).is(':checked') ? 1 : 0;
    
    orgChartDiv.saveStateInStorage();

    window.babAddonWidgets.reload(orgChartDiv);
    return false;
}


function bab_setRelative(relativeThreshold)
{
    this.relativeThreshold = relativeThreshold;
    this.relativeCheckbox.checked = (relativeThreshold == 1);
    bab_refresh(this);
}



function bab_setThreshold(thresholdLevel)
{
    this.thresholdLevel = thresholdLevel;
    if (!this.thresholdLevel) {
        this.thresholdLevel = 2;
    }
    this.thresholdSelect.value = thresholdLevel;
}



function bab_selectThreshold(evt)
{
    evt = evt || window.event;
    var orgChartDiv = this.controlledElement;
    orgChartDiv.setThreshold(this.value);
    orgChartDiv.saveStateInStorage();
    
    window.babAddonWidgets.reload(orgChartDiv);
    return false;
}



function bab_setZoom(zoomFactor)
{
	this.zoomFactor = zoomFactor;
	if (!this.zoomFactor) {
	    this.zoomFactor = 1;
	}
	this.zoomWidget.zoomText.firstChild.nodeValue = parseInt(this.zoomFactor * 100 + 0.5) + "%";
	bab_refresh(this);
}

function bab_zoomIn(evt)
{
    evt = evt || window.event;
	var orgChartDiv = this.getControlledElement();
	orgChartDiv.setZoom(orgChartDiv.zoomFactor * 1.071773463);
	orgChartDiv.saveStateInStorage();
	return false;
}

function bab_zoomOut(evt)
{
    evt = evt || window.event;
	var orgChartDiv = this.getControlledElement();
	orgChartDiv.setZoom(orgChartDiv.zoomFactor / 1.071773463);
	orgChartDiv.saveStateInStorage();
	return false;
}


function bab_zoomFit()
{
	var orgChartDiv = this.getControlledElement();
	var tables = orgChartDiv.getElementsByTagName('TABLE');
	var factor = (orgChartDiv.offsetWidth - 20) / (tables[0].getElementsByTagName('TBODY')[0].offsetWidth);
	
	var n = Math.floor(10 * Math.log(factor) / Math.LN2);
	factor = Math.pow(2, 0.1 * n);
	
	orgChartDiv.style.display = 'none';
	orgChartDiv.zoomFactor *= factor;
	this.zoomText.firstChild.nodeValue = parseInt(orgChartDiv.zoomFactor * 100 + 0.5) + "%";
	tables[0].style.fontSize = orgChartDiv.zoomFactor + 'em';
	orgChartDiv.style.display = '';
	orgChartDiv.saveStateInStorage();
}


function bab_toggleMembers(action) {
	var entity = action.entity;
	var members = entity.members;
	if( typeof(members) != 'undefined' ) {
		if (members.style.display == 'none') {
			if (typeof($j) != 'undefined') {
				$j(members).slideDown('fast');
			} else {
				members.style.display = '';
			}
		} else {
			if (typeof($j) != 'undefined') {
				$j(members).slideUp('fast');
			} else {
				members.style.display = 'none';
			}		
		}
	}
	entity.orgChart.saveStateInStorage();
	return false;
}


function bab_closeAllMembers(action)
{
    var subtree = jQuery(action.entity).closest('.subtree');
    var members = subtree.find('.members');
    members.hide();
    members.each(function () {
        var entity = jQuery(this).closest('.entity');
        entity.each(function () {
            this.orgChart.saveStateInStorage();
        });
    });
    
    return false;
}

function bab_openAllMembers(action)
{
    var subtree = jQuery(action.entity).closest('.subtree');
    var members = subtree.find('.members');
    members.show();
    members.each(function () {
        var entity = jQuery(this).closest('.entity');
        entity.each(function () {
            this.orgChart.saveStateInStorage();
        });
    });
    
    return false;
}


function bab_saveState()
{
    var orgChartDiv = this; //.getControlledElement();
    
    var meta = orgChartDiv.meta;
    
    var saveStateAction = meta.saveStateAction;
//    saveStateAction += '&path=orgchart/' + orgChartDiv.id + '/';
    
    var data = {
        'values[openNodes]': orgChartDiv.getOpenNodes().join(','),
        'values[openMembers]': orgChartDiv.getOpenMembers().join(','),
        'values[zoomFactor]': orgChartDiv.zoomFactor,
        'values[verticalThreshold]': orgChartDiv.thresholdLevel,
        'values[relativeThreshold]': orgChartDiv.relativeThreshold
    };
    
    window.babAddonWidgets.ajax(
        saveStateAction,
        orgChartDiv,
        orgChartDiv.id,
        data
    );
}


function bab_saveDefaultState()
{
    var orgChartDiv = this.getControlledElement();
    
    var meta = orgChartDiv.meta;
    
    var saveDefaultStateAction = meta.saveDefaultStateAction;
//    saveDefaultStateAction += '&path=orgchart/' + orgChartDiv.id + '/';
   
    var data = {
        'values[openNodes]': orgChartDiv.getOpenNodes().join(','),
        'values[openMembers]': orgChartDiv.getOpenMembers().join(','),
        'values[zoomFactor]': orgChartDiv.zoomFactor,
        'values[verticalThreshold]': orgChartDiv.thresholdLevel,
        'values[relativeThreshold]': orgChartDiv.relativeThreshold
    };
    
    window.babAddonWidgets.ajax(
        saveDefaultStateAction,
        orgChartDiv,
        orgChartDiv.id,
        data
    );
}


function bab_restoreDefaultState()
{
    var orgChartDiv = this.getControlledElement();
    
    var meta = orgChartDiv.meta;
    
    var restoreDefaultStateAction = meta.restoreDefaultStateAction;
    restoreDefaultStateAction += '&path=orgchart/' + orgChartDiv.id + '/';
    
    window.babAddonWidgets.ajax(
        restoreDefaultStateAction,
        orgChartDiv,
        orgChartDiv.id
    );
    
    window.babAddonWidgets.reload(orgChartDiv);
}


function bab_print()
{
	var orgChartDiv = this.getControlledElement();
	window.print();
}


function bab_more()
{
	jQuery(this).parents(".orgchartcontainer").find(".widget-hidden-orgtoolbar").toggle();
}


function getControlledElement()
{
	if (this.controlledElement) {
		return this.controlledElement;
	}
	try {
		return this.parentNode.getControlledElement();
	} catch(e) {
		return null;	
	}
}

function createToolbarGroup(label, className)
{
	var toolbarGroup = document.createElement('SPAN');
	toolbarGroup.className = 'bab_toolbarGroup ' + className;
	
	var spanLabel = document.createElement('SPAN');
	spanLabel.appendChild(document.createTextNode(label));
	spanLabel.className = 'bab_label';
	toolbarGroup.appendChild(spanLabel);
	toolbarGroup.getControlledElement = getControlledElement;
	return toolbarGroup;
}

function createLabelInput(label, className)
{
	var toolbarGroup = document.createElement('SPAN');
	toolbarGroup.className = 'bab_toolbarGroup ' + className;
	toolbarGroup.appendChild(document.createTextNode(label));
	toolbarGroup.getControlledElement = getControlledElement;
	return toolbarGroup;
}

function createButton(label, className)
{
	var link = document.createElement('A');
	link.appendChild(document.createTextNode(label));
	link.className = 'widget-link icon ' + className;
	link.getControlledElement = getControlledElement;
	return link;
}


function bab_createContextMenu(actionsDiv, entity)
{
	entity.actions = actionsDiv;
	actionsDiv.style.display = 'none';
	actionsDiv.controlledElement = entity;
	var menuButton = document.createElement('DIV');
	var menuImage = document.createElement('IMG');
	menuImage.src = bab_getInstallPath() + 'skins/ovidentia/images/orgchart/menu.gif';
	menuButton.appendChild(menuImage);
	entity.appendChild(menuButton);
	menuButton.style.display = 'none';
	menuButton.style.position = 'absolute';
	menuButton.style.right = '0px';
	menuButton.style.top = '0px';
	menuButton.style.height = '16px';

	menuButton.onclick = function(evt) {
	    evt = evt || window.event;
	    
	    var back = document.createElement('DIV');
	    back.style.display = "block";
	    back.style.position = "absolute";
	    back.style.left = '0px';
	    back.style.top = '0px';
	    back.style.right = '0px';
	    back.style.bottom = '0px';
		jQuery(back).height(jQuery(document).height());
	    back.style.backgroundImage = 'url(' + bab_getInstallPath() + 'skins/ovidentia/images/spacer.gif)'; //'transparent';

	    back.actions = entity.actions;
	    var orgchartcontainer = jQuery(actionsDiv).parents('.orgchartcontainer');
	    back.onclick = function(evt) {
			this.actions.style.display = "none";
		    orgchartcontainer[0].removeChild(this);
		};
	    orgchartcontainer[0].appendChild(back);
	    var actionClone = jQuery(entity.actions).clone(true);
	    jQuery(actionClone).find('.action').each(function(){
	    	this.parentNode.entity = entity;
	    });
		back.appendChild(actionClone[0]);
		actionClone[0].style.position = "absolute";
		
		var style = actionClone[0].style;

		style.display == '' ? style.display = 'none' : style.display = '';
		
		var windowWidth = (typeof window.innerWidth != 'undefined') ? window.innerWidth : document.body.offsetWidth;

		var menuWidth = actionClone[0].offsetWidth;

		menuButtonOffset = jQuery(this).offset();
		jQuery(actionClone[0]).offset({ top: menuButtonOffset.top + jQuery(this).outerHeight(), left: menuButtonOffset.left });
	};
	entity.menuButton = menuButton;
	entity.onmouseover = function() { this.menuButton.style.display = ''; };
	entity.onmouseout = function() { this.menuButton.style.display = 'none'; };

	var actionList = jQuery(actionsDiv).find('.action');
	actionList.each(function() {
	    var action = this;
		action.parentNode.appendChild(document.createTextNode(' ' + action.parentNode.title));
		action.parentNode.title = '';
		action.parentNode.entity = entity;
		action.parentNode.style.display = 'block';
	});
}





function bab_initOrgChart(orgchartview)
{
    var meta = window.babAddonWidgets.getMetadata(orgchartview.id);

    var orgChartDiv = jQuery(orgchartview).find('.orgchart').get(0);
    
    orgChartDiv.meta = meta;
    
	orgChartDiv.getOpenNodes = bab_getOpenNodes;
	orgChartDiv.getOpenMembers = bab_getOpenMembers;
	orgChartDiv.saveStateInStorage = bab_saveState;
	orgChartDiv.setOpenNodes = bab_setOpenNodes;
	orgChartDiv.setOpenMembers = bab_setOpenMembers;

	// Toolbar creation.
	var orgChartContainer = orgChartDiv.parentNode;
	
	var bars = jQuery(orgChartContainer).find('.widget-toolbar');
	var toolbar = bars.get(0)
	var configbar = bars.get(1);

	orgChartDiv.configbar = configbar;
	
	if (toolbar) {
		toolbar.controlledElement = orgChartDiv;
		toolbar.getControlledElement = getControlledElement;

		var zoomWidget = createToolbarGroup('', '');

		var zoomText = document.createElement('SPAN');
		zoomText.appendChild(document.createTextNode('100%'));

		zoomWidget.zoomText = zoomText;
	
		var zoomFit = createButton('', 'actions-zoom-fit-width');
		zoomFit.onclick = bab_zoomFit;
		zoomFit.zoomText = zoomText;
		zoomFit.title = window.bab_Translations['fit_width'];
		
		var zoomIn = createButton('', 'actions-zoom-in');
		zoomIn.id = 'bab_zoomInButton';
		zoomIn.onclick = bab_zoomIn;
		zoomIn.zoomText = zoomText;
		zoomIn.title = window.bab_Translations['zoom_in'];
				
		var zoomOut = createButton('', 'actions-zoom-out bab_zoomOut');
		zoomOut.id = 'bab_zoomOutButton';
		zoomOut.onclick = bab_zoomOut;
		zoomOut.zoomText = zoomText;
		zoomOut.title = window.bab_Translations['zoom_out'];
	
		zoomWidget.appendChild(zoomFit);
		zoomWidget.appendChild(zoomOut);
		zoomWidget.appendChild(zoomText);
		zoomWidget.appendChild(zoomIn);
	
		toolbar.appendChild(zoomWidget);
		
		orgChartDiv.zoomWidget = zoomWidget;
		orgChartDiv.setZoom = bab_setZoom;
		if (meta.zoomFactor) {
            orgChartDiv.setZoom(meta.zoomFactor);
		}

		if (meta.adminMode) {
			var save = createButton('', 'actions-document-save bab_save');
			save.onclick = bab_saveDefaultState;
			save.title = window.bab_Translations['save_default_view'];
			save.controlledElement = orgChartDiv;
			toolbar.appendChild(save);
		}

		var restore = createButton('', 'actions-view-refresh');
        restore.onclick = bab_restoreDefaultState;
        restore.title = window.bab_Translations['restore_default_view'];
        restore.controlledElement = orgChartDiv;
        toolbar.appendChild(restore);

            
		var print = createButton('', 'actions-document-print bab_print');
		print.onclick = bab_print;
		print.title = window.bab_Translations['print'];
		toolbar.appendChild(print);

		var more = createButton(window.bab_Translations['parameters'], 'bab_more');
		more.onclick = bab_more;
		more.title = window.bab_Translations['parameters'];
		toolbar.appendChild(more);
	}

	
	if (configbar) {

		configbar.style.display = 'none';

		// Visible level selector.
		var levelWidget = createToolbarGroup(window.bab_Translations['visible_levels'] + ' ', '');
		levelWidget.title = window.bab_Translations['visible_levels_tip'];

		var levelSelect = document.createElement('SELECT');
		levelSelect.controlledElement = orgChartDiv;

		var option = document.createElement('OPTION');
		option.appendChild(document.createTextNode('-'));
		levelSelect.appendChild(option);

		for (var i = 1; i <= 9; i++) {
			option = document.createElement('OPTION');
			option.value = i;
			option.className = 'level' + i;
			option.appendChild(document.createTextNode(i));
			levelSelect.appendChild(option);
		}
		levelSelect.onchange = bab_setLevel;
		levelSelect.onclick = function() { this.focus(); };
		
		levelWidget.appendChild(levelSelect);
		
		configbar.appendChild(levelWidget);
		
		orgChartDiv.levelSelect = levelSelect;


		// Horizontal-vertical threshold selector.
 		var thresholdWidget = createToolbarGroup(window.bab_Translations['threshold'] + ' ', '');
		thresholdWidget.title = window.bab_Translations['threshold_tip'];

		var thresholdSelect = document.createElement('SELECT');
		thresholdSelect.controlledElement = orgChartDiv;

		for (var i = 1; i <= 9; i++) {
			option = document.createElement('OPTION');
			option.value = i + 1;
			option.appendChild(document.createTextNode(i));
			thresholdSelect.appendChild(option);
		}
		thresholdSelect.onchange = bab_selectThreshold;
		
		thresholdSelect.onclick = function() { this.focus(); };
		

		thresholdWidget.appendChild(thresholdSelect);
		
		configbar.appendChild(thresholdWidget);
		
		orgChartDiv.thresholdSelect = thresholdSelect;
		
		orgChartDiv.setThreshold = bab_setThreshold;

	    if (meta.verticalThreshold) {
            orgChartDiv.setThreshold(meta.verticalThreshold);
        }
        
		
		// Relative threshold selector.
		var relativeWidget = createToolbarGroup(window.bab_Translations['relative'] + ' ', '');

		var relativeCheckbox = document.createElement('INPUT');
		relativeCheckbox.type = 'checkbox';
		relativeCheckbox.controlledElement = orgChartDiv;
		relativeCheckbox.onclick = bab_setThresholdRelative;
		
		relativeWidget.appendChild(relativeCheckbox);
		
		configbar.appendChild(relativeWidget);
		
		orgChartDiv.relativeCheckbox = relativeCheckbox;

		orgChartDiv.setRelative = bab_setRelative;
		
		if (meta.relativeThreshold) {
            orgChartDiv.setRelative(meta.relativeThreshold);
        }
 	}

	var horizontalList = jQuery(orgChartDiv).find('.horizontal');
	var verticalList = jQuery(orgChartDiv).find('.vertical');
	var levelList = jQuery(orgChartDiv).find('.horizontal,.vertical');

	levelList.each(function() {
	    var level = this;
		if (level.classList.contains('level1'))
			return; 
		level.parentEntity = level.parentNode.getElementsByTagName('DIV')[0];
		if(!level.parentEntity.classList.contains('entity')){
			level.parentEntity = level.parentEntity.getElementsByClassName('entity')[0];
		}
		level.parentEntity.childEntities = level;
		var switchDiv = document.createElement('DIV');
		switchDiv.className = 'switch_open';
		switchDiv.controlledElement = level;
		switchDiv.orgChart = orgChartDiv;
		switchDiv.onclick = bab_toggleCollapsed;
		level.parentNode.insertBefore(switchDiv, level);
		level.parentEntity.switchDiv = switchDiv;
	});


	var membersList = jQuery(orgChartDiv).find('.members');
	membersList.each(function() {
	    var members = this;
		jQuery(members).closest('.entity')[0].members = members;
	    members.style.display = 'none';
	});

	var entityList = jQuery(orgChartDiv).find('.entity');
	entityList.each(function() {
	    var entity = this;
		entity.orgChart = orgChartDiv;
		var actionsList = jQuery(entity).find('.actions');
		if (actionsList.length > 0) {
			bab_createContextMenu(actionsList[0], entity);
		};
	});


	if (typeof orgChartDiv.levelSelect != 'undefined') {
		orgChartDiv.levelSelect.value = '-';
	}
	
	if (meta.openMembers) {
	    orgChartDiv.setOpenMembers(meta.openMembers);
	}

	if (meta.openNodes) {
        orgChartDiv.setOpenNodes(meta.openNodes);
    }
	
	return orgChartDiv;
}



if (!window.bab_Translations) {
	window.bab_Translations = new Array();
}
window.bab_Translations['loading'] = "{ t_loading }";
window.bab_Translations['visible_levels'] = "{ t_visible_levels }";
window.bab_Translations['visible_levels_tip'] = "{ t_visible_levels_tip }";
window.bab_Translations['threshold'] = "{ t_threshold }";
window.bab_Translations['threshold_tip'] = "{ t_threshold_tip }";
window.bab_Translations['relative'] = "{ t_relative }";
window.bab_Translations['fit_width'] = "{ t_fit_width }";
window.bab_Translations['zoom_in'] = "{ t_zoom_in }";
window.bab_Translations['zoom_out'] = "{ t_zoom_out }";
window.bab_Translations['restore_default_view'] = "{ t_default_view }";
window.bab_Translations['save_default_view'] = "{ t_save_default_view }";
window.bab_Translations['print'] = "{ t_print }";
window.bab_Translations['help'] = "{ t_help }";
window.bab_Translations['parameters'] = "{ t_parameters }";

window.bab.addInitFunction(function(domNode) { 
 
    jQuery(domNode).find('.widget-orgchartview').not('.widget-init-done').each(function () {
        var orgchartview = jQuery(this);
        orgchartview.addClass('widget-init-done');
        
	    bab_initOrgChart(this);
    });
});

//]]>
</script>

<!--#end orgchart_scripts -->



<!--#begin orgchart -->

<!-- BEGIN ORGCHART -->
<style>.members { display: none; }</style>
<div class="orgchartcontainer">
<div class="widget-toolbar icon-left-16 icon-left icon-16x16"></div>
<div class="widget-toolbar widget-hidden-orgtoolbar"></div>
<div class="widget-toolbar" style="vertical-align: middle">
 <!--#in getNextLocationElement  -->
 <img src="{ babSkinPath }images/Puces/arrowNext3a.gif" style="vertical-align: middle" />
 <a class="bab_treeLocationElement" style="vertical-align: middle" href="{ t_entityUrl }">{ t_entityTitle }</a>
 <!--#endin getNextLocationElement  -->
</div>
<div class="orgchart BabLoginCadreBackground" id="{ t_treeViewId }" style="margin-left: auto; margin-right: auto">
<!--#in getNextElement -->

<!--#if t_previousLayout "== horizontal" -->

  <!--#if t_levelVariation "<= -1" --></td></tr></tbody></table><!--#endif t_levelVariation -->
  <!--#if t_levelVariation "== 0" --></td><!--#endif t_levelVariation -->
  
<!--#else t_previousLayout -->

  <!--#if t_levelVariation "<= -1" --></li></ul><!--#endif t_levelVariation -->
  <!--#if t_levelVariation "== 0" --></li><!--#endif t_levelVariation -->

<!--#endif t_previousLayout -->
 
<!--#if t_layout "== horizontal" -->

  <!--#if t_levelVariation "== 1" --><table class="level{ t_previousLevel } horizontal"><tbody><tr><!--#endif t_levelVariation -->
  <!--#if t_levelVariation ">= -1" -->
  <td class="subtree">

  <!--#if t_isMiddleChild -->
  <div class="middle_sibling">
  <!--#else t_isMiddleChild -->
  <!--#if t_isSingleChild -->
  <div class="single_sibling">
  <!--#else t_isSingleChild -->
  <!--#if t_isFirstChild -->
  <div class="first_sibling">
  <!--#else t_isFirstChild -->
  <!--#if t_isLastChild -->
  <div class="last_sibling">
  <!--#endif t_isLastChild -->
  <!--#endif t_isFirstChild -->
  <!--#endif t_isSingleChild -->
  <!--#endif t_isMiddleChild -->
  <div class="{ t_type }" id="{ t_id }" style="min-height: 8em">
  <!--#if t_nodeIcon "== _item_" -->
  { t_title }
  <!--#else t_nodeIcon -->
    <!--#if t_nodeIcon -->
     <table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" style="margin: 0; padding: 0">
     <tr>
     <td valign="top" width="1%"><a  <!--#if t_linkEntity --> href="{ t_linkEntity }" <!--#endif t_linkEntity --> ><img class="treeview-icon" src="{ t_nodeIcon }" alt="" /></a></td>
     <td valign="top"><b><a <!--#if t_linkEntity --> href="{ t_linkEntity }" <!--#endif t_linkEntity --> >{ t_title }</a></b><br /><a class="widget-link widget-popup-dialog" name="{ t_id }" <!--#if t_link --> href="{ t_link }" <!--#endif t_link --> ><!--#if t_info -->{ t_info }<!--#else t_info -->&nbsp;<!--#endif t_info --></a></td>
     </tr>
     </table>
    <!--#else t_nodeIcon -->
     <b><a <!--#if t_linkEntity --> href="{ t_linkEntity }" <!--#endif t_linkEntity --> >{ t_title }</a></b><br /><a class="widget-link widget-popup-dialog" name="{ t_id }" <!--#if t_link --> href="{ t_link }" <!--#endif t_link --> ><!--#if t_info -->{ t_info }<!--#else t_info -->&nbsp;<!--#endif t_info --></a>
    <!--#endif t_nodeIcon -->
  <!--#endif t_nodeIcon -->

  <div class="actions widget-popup-menu icon-left-16 icon-left icon-16x16">
  <!--#in getNextAction -->
  <a <!--#if action_url -->href="{ action_url }"<!--#endif action_url --> class="widget-link { action_class }" title="{ action_caption }" <!--#if action_script --> onclick="return bab_{ action_script }({ action_script_args });" <!--#endif action_script --> ><img class="action" src="{ action_icon }" alt="" /></a>
  <!--#endin getNextAction -->
  </div>

  <!--#if t_nbMembers "> 0" -->
   <div class="members">
  <!--#in getNextMemberRole -->
    <div class="member_role">{ t_memberRole }</div>
  <!--#in getNextMember -->
  <div class="member"><a class="widget-link widget-popup-dialog" href="{ t_memberUrl }">{ t_memberName }</a></div>
  <!--#endin getNextMember -->
  <!--#endin getNextMemberRole -->
   </div>
  <!--#endif t_nbMembers -->
  
  <!--#if t_isMiddleChild -->
  </div>
  <!--#else t_isMiddleChild -->
  <!--#if t_isSingleChild -->
  </div>
  <!--#else t_isSingleChild -->
  <!--#if t_isFirstChild -->
  </div>
  <!--#else t_isFirstChild -->
  <!--#if t_isLastChild -->
  </div>
  <!--#endif t_isLastChild -->
  <!--#endif t_isFirstChild -->
  <!--#endif t_isSingleChild -->
  <!--#endif t_isMiddleChild -->
  </div>
  <!--#endif t_levelVariation -->

<!--#else t_layout -->

  <!--#if t_levelVariation "== 1" --><ul class="level{ t_previousLevel } vertical"><!--#endif t_levelVariation -->
  <!--#if t_levelVariation ">= -1" -->

  <!--#if t_isMiddleChild -->
  <li class="subtree middle_sibling">
  <!--#else t_isMiddleChild -->
  <!--#if t_isSingleChild -->
  <li class="subtree single_sibling">
  <!--#else t_isSingleChild -->
  <!--#if t_isFirstChild -->
  <li class="subtree first_sibling">
  <!--#else t_isFirstChild -->
  <!--#if t_isLastChild -->
  <li class="subtree last_sibling">
  <!--#endif t_isLastChild -->
  <!--#endif t_isFirstChild -->
  <!--#endif t_isSingleChild -->
  <!--#endif t_isMiddleChild -->
  <div class="{ t_type }" id="{ t_id }">
  <!--#if t_nodeIcon "== _item_" -->
  { t_title }
  <!--#else t_nodeIcon -->
    <!--#if t_nodeIcon -->
    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin: 0; padding: 0"><tr>
    <td width="1%"><img class="treeview-icon" src="{ t_nodeIcon }" alt="" /></td>
    <td><b><a <!--#if t_linkEntity --> href="{ t_linkEntity }" <!--#endif t_linkEntity --> >{ t_title }</a></b><br /><a class="widget-link widget-popup-dialog" name="{ t_id }" <!--#if t_link --> href="{ t_link }" <!--#endif t_link --> ><!--#if t_info -->{ t_info }<!--#else t_info -->&nbsp;<!--#endif t_info --></a></td>
    </tr></table>
    <!--#else t_nodeIcon -->
    <b><a <!--#if t_linkEntity --> href="{ t_linkEntity }" <!--#endif t_linkEntity --> >{ t_title }</a></b><br /><a class="widget-link widget-popup-dialog" name="{ t_id }" <!--#if t_link --> href="{ t_link }" <!--#endif t_link --> ><!--#if t_info -->{ t_info }<!--#else t_info -->&nbsp;<!--#endif t_info --></a>
    <!--#endif t_nodeIcon -->
  <!--#endif t_nodeIcon -->

  <div class="actions widget-popup-menu icon-left-16 icon-left icon-16x16">
  <!--#in getNextAction -->
  <a <!--#if action_url --> href="{ action_url }"<!--#endif action_url --> class="widget-link { action_class }" title="{ action_caption }" <!--#if action_script --> onclick="return bab_{ action_script }({ action_script_args });" <!--#endif action_script --> ><img class="action" src="{ action_icon }" alt="" /></a>
  <!--#endin getNextAction -->
  </div>
  
  <!--#if t_nbMembers "> 0" -->
  <div class="members">
  <!--#in getNextMemberRole -->
  <div class="member_role">{ t_memberRole }</div>
  <!--#in getNextMember -->
  <div class="member"><a class="widget-link widget-popup-dialog" href="{ t_memberUrl }">{ t_memberName }</a></div>
  <!--#endin getNextMember -->
  <!--#endin getNextMemberRole -->
  </div>
  <!--#endif t_nbMembers -->

  </div>
  <!--#endif t_levelVariation -->

<!--#endif t_layout -->

<!--#endin getNextElement -->
</div>
</div>

<!-- END ORGCHART -->

<!--#end orgchart -->
